textarea{
  
}
table{
    table-layout: fixed;
    width: 300px;
}

td {
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

table tr>th {
  text-align: center !important;
}

td input[type="text"] {
  width: 100%;
  height: 100%;
}

input[type="checkbox"] {
  margin-left: 40px !important;
}

input[type="radio"] {
  margin-left: 40px !important;
}

table input[type="radio"] {
  margin: 4px 0 0 !important;
}

ul {
  list-style: none;
}

td ul {
  padding-left: 0px;
  text-align: left;
}

.bold {
  font-size: 16px;
}

.margin-40px-10px {
  margin-left: 40px;
  margin-bottom: 10px;
}

.margin-20px-10px {
  margin-left: 20px;
  margin-bottom: 10px;
}

.margin-10px {
  margin-bottom: 10px;
}

.container ul {
  padding: 0px !important;
}

textarea {

}

h5 {
  line-height: 1.5em;
}

.normal-font {
  font-weight: normal;
}