{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/rwiz.js') }}"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
            <a class="navbar-brand" href="{{ url_for('householdsurvey') }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Household Survey</a>
            <a class="navbar-brand" href="{{ url_for('pmv') }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            PMV Operators</a>
            <a class="navbar-brand" href="{{ url_for('fsv_women') }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            FSV Women</a>
            <a class="navbar-brand" href="{{ url_for('fsv_men') }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            FSV Men</a>
            <a class="navbar-brand" href="{{ url_for('finaltradestore') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Final Trade Store</a>
            <a class="navbar-brand" href="{{ url_for('key_informant') }}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Key Informant</a>
        </div>
    </nav>
{% endblock %}


