{% extends "base.html" %}

{% from "macro.html" import render_field, render_field_new %}

{% block styles %}
{{ super() }}
<script type="text/javascript">
  function closeEditorWarning(){
    return 'Do you want to leave this page?'
}
window.onbeforeunload = closeEditorWarning;
</script>
{% endblock %}

{% block title %}Household Survey (Women){% endblock %}

{% block content %}
    <div class="container">
      {% if form.errors %}
        <div class="form-group"><h4 style="color: red">There are errors in your entry. Please check and try again.</h4></div>
      {% endif %}
        <form method="POST" action="">
          <div class="well well-sm">
          <fieldset>
            <legend>Basic Information</legend>
            {{ form.hidden_tag() }}
            <table class="table">
              <tr>
                <td>{{ render_field(form.province) }}</td>
                <td>{{ render_field(form.district) }}</td>
                <td>{{ render_field(form.wardname) }}</td>
                <td>{{ render_field(form.villagename) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.householdnumber) }}</td>
                <td>{{ render_field(form.interviewer) }}</td>
                <td>{{ render_field(form.dateofinterview) }}</td>
              </tr>
            </table>
          </fieldset>
        </div>
        <h3>Characteristics of the interviewed household</h3>
        <div class="well well-sm">
          <fieldset>
            <legend>Household size and composition</legend>
            {{ render_field(form.maritalstatus) }}
            {{ render_field(form.spousegirlfriend) }}
            {{ render_field(form.ageoftherespondent) }}
            {{ render_field(form.literacy) }}
            {{ render_field(form.mainjob) }}
            {{ render_field(form.mainjobother) }}
            {{ render_field(form.mainjobspouse) }}
            {{ render_field(form.mainjobspouseother) }}
            {{ render_field(form.miningforalluvialminerals) }}
            {{ render_field(form.respondenteducation) }}
            {{ render_field(form.spouseeducation) }}
            {{ render_field(form.statusincommunity) }}
            {{ render_field(form.numberofchildren) }}
            {{ render_field(form.numberofboys) }}
            {{ render_field(form.numberofgirls) }}
            {{ render_field(form.familyincome) }}
            {{ render_field(form.migrated) }}
            {{ render_field(form.migratedwhen) }}
            {{ render_field(form.migratedwith) }}
            {{ render_field(form.migratedwithother) }}
            {{ render_field(form.migratedwhy) }}
            {{ render_field(form.migratedwhyother) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Living situation and poverty</legend>
            {{ render_field(form.houseownership) }}
            {{ render_field(form.houseownershipother) }}
            {{ render_field(form.housetype) }}
            {{ render_field(form.housetypeother) }}
            {{ render_field(form.houselatrine) }}
            {{ render_field(form.houselatrinekind) }}
            {{ render_field(form.houselatrinenolatrine) }}
            {{ render_field(form.houselatrinenolatrineother) }}
            {{ render_field(form.hhrelativeclassification) }}
            {{ render_field(form.hhrelativeclassificationreason) }}
            {{ render_field(form.spousesdiscussmoney) }}
            {{ render_field(form.spousesdiscussmoneyother) }}
            {{ render_field(form.drinksalcohol) }}
            <p><strong>If yes,</strong></p>
            {{ render_field(form.drinksalcoholaffectsbehaviour) }}
            {{ render_field(form.drinksalcoholaffectsbehaviourfrequency) }}
            {{ render_field(form.drinksalcoholaffectsbehaviourfrequencyother) }}
            {{ render_field(form.drinksalcoholaggressive) }}
            {{ render_field(form.drinksalcoholdamagesorbeatings) }}
            {{ render_field(form.drinksalcoholregretsafter) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Access to medical services and health status of the household</legend>
              <p><strong>22. Most often visited health services (put the order by number in the brackets)</strong></p>
              {{ render_field(form.gotoaidpost) }}
              {{ render_field(form.gotoaidpostrank) }}
              {{ render_field(form.gotohealthcenre) }}
              {{ render_field(form.gotohealthcenrerank) }}
              {{ render_field(form.gotohospital) }}
              {{ render_field(form.gotohospitalrank) }}
              {{ render_field(form.gototraditionalhealers) }}
              {{ render_field(form.gototraditionalhealersrank) }}
              {{ render_field(form.gotootherhealthservices) }}
              {{ render_field(form.gotootherhealthservicesrank) }}
              {{ render_field(form.gotohospitalreason) }}
              {{ render_field(form.gotohospitalreasonother) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>FSV and types of abuses</legend>
            {{ render_field(form.heardofsv) }}
            {{ render_field(form.heardofsvsource) }}
            {{ render_field(form.fsvunderstanding) }}
            {{ render_field(form.awarenessofthelaw) }}
            {{ render_field(form.awarenessofinterimprotectionorders) }}
            {{ render_field(form.communitysvdiscussions) }}
            {{ render_field(form.communitysvdiscussionsifno) }}
            {{ render_field(form.alcoholanddruguseescalation) }}
            {{ render_field(form.influxofmoney) }}
            {{ render_field(form.influxofmoneyreasons) }}
            {{ render_field(form.influxofmoneyescalatesdrugsandviolence) }}
            {{ render_field(form.influxofmoneyescalatesdrugsandviolencedetails) }}
            {{ render_field(form.formsofviolenceincommunity) }}
            {{ render_field(form.formsoffsvincommunity) }}
            {{ render_field(form.maincausesoffsv) }}
            {{ render_field(form.changeincommunityattitude) }}
            {{ render_field(form.changeincommunityattitudedetails) }}
            {{ render_field(form.goodwifeobeys) }}
            {{ render_field(form.familyproblemsdiscussedinternally) }}
            {{ render_field(form.importanttoshowspousewhosboss) }}
            {{ render_field(form.womanshouldchooseownfriends) }}
            {{ render_field(form.wifeobligedtohavesex) }}
            {{ render_field(form.outsidershouldintervene) }}
            {{ render_field(form.sometimeswomandeservesbeatings) }}
            {{ render_field(form.womanshouldtolerateviolence) }}
            {{ render_field(form.womanrefuseschildrenshouldbebeaten) }}
            {{ render_field(form.womenshouldputwithabuse) }}
          </fieldset>
        </div>
        <h3>Attitudes towards FSV</h3>
        <div class="well well-sm">
          <fieldset>
            <p><strong>In this community and elsewhere, people have different ideas about families and what is acceptable behavior for men and women in the home. I am going to read you a list of statements, and I would like you to tell me whether you generally agree or disagree with the statement. There are no right or wrong answers.</strong></p>
            {{ render_field(form.womenhaverighttolitigate) }}
            {{ render_field(form.bridepricemeantotalcontrol) }}
            {{ render_field(form.domesticviolencelawawareness) }}
            <p><strong>48.  I am now going to ask you about some situations that are true for many women. Do you think whether the following is domestic violence or not? Please rate the seriousness of 10 actions listed below. Ranking 1 - very serious, 2 - quiet serious, 3 - not serious, 4 - not sure</strong></p>
            {{ render_field(form.denyingmoney) }}
            {{ render_field(form.criticising) }}
            {{ render_field(form.preventingoutsidecontact) }}
            {{ render_field(form.yellingabuse) }}
            {{ render_field(form.threateninghurtingsomeone) }}
            {{ render_field(form.smashingobjects) }}
            {{ render_field(form.forcingtohavesex) }}
            {{ render_field(form.slapping) }}
            {{ render_field(form.hitting) }}
            {{ render_field(form.chokingorbeating) }}
            {{ render_field(form.stalking) }}
            {{ render_field(form.harassment) }}
            {{ render_field(form.intimidation) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Respondent and experiences of FSV</legend>
              <p><strong>I would now like to ask you some questions about your current and past relationships and how your husband / partner treats (treated) you. If anyone interrupts us I will change the topic of conversation. I would again like to assure you that your answers will be kept secret, and that you do not have to answer any questions that you do not want to. May I continue?</strong></p>
              <p><strong>49. Has your current husband / partner, or any other non-intimate partner ever...</strong></p>
              {{ render_field(form.partnerinsulted) }}
              {{ render_field(form.partnerinsultedpastyear) }}
              {{ render_field(form.partnerinsultedpastyeartimes) }}
              {{ render_field(form.partnerinsultedearliertimes) }}
              {{ render_field(form.partnerbelittled) }}
              {{ render_field(form.partnerbelittledpastyear) }}
              {{ render_field(form.partnerbelittledpastyeartimes) }}
              {{ render_field(form.partnerbelittledearliertimes) }}
              {{ render_field(form.partnerintimidated) }}
              {{ render_field(form.partnerintimidatedpastyear) }}
              {{ render_field(form.partnerintimidatedpastyeartimes) }}
              {{ render_field(form.partnerintimidatedearliertimes) }}
              {{ render_field(form.partnerthreatened) }}
              {{ render_field(form.partnerthreatenedpastyear) }}
              {{ render_field(form.partnerthreatenedpastyeartimes) }}
              {{ render_field(form.partnerthreatenedearliertimes) }}
              {{ render_field(form.partnerstalked) }}
              {{ render_field(form.partnerstalkedpastyear) }}
              {{ render_field(form.partnerstalkedpastyeartimes) }}
              {{ render_field(form.partnerstalkedearliertimes) }}
              <p><strong>50. Has your current husband / partner, or any other non-intimate partner ever...</strong></p>
              {{ render_field(form.partnerslapped) }}
              {{ render_field(form.partnerslappedpastyear) }}
              {{ render_field(form.partnerslappedpastyeartimes) }}
              {{ render_field(form.partnerslappedearliertimes) }}
              {{ render_field(form.partnershoved) }}
              {{ render_field(form.partnershovedpastyear) }}
              {{ render_field(form.partnershovedpastyeartimes) }}
              {{ render_field(form.partnershovedearliertimes) }}
              {{ render_field(form.partnerhit) }}
              {{ render_field(form.partnerhitpastyear) }}
              {{ render_field(form.partnerhitpastyeartimes) }}
              {{ render_field(form.partnerhitearliertimes) }}
              {{ render_field(form.partnerkicked) }}
              {{ render_field(form.partnerkickedpastyear) }}
              {{ render_field(form.partnerkickedpastyeartimes) }}
              {{ render_field(form.partnerkickedearliertimes) }}
              {{ render_field(form.partnerchocked) }}
              {{ render_field(form.partnerchockedpastyear) }}
              {{ render_field(form.partnerchockedpastyeartimes) }}
              {{ render_field(form.partnerchockedearliertimes) }}
              {{ render_field(form.partnerthreatenedtouseaweapon) }}
              {{ render_field(form.partnerthreatenedtouseaweaponpastyear) }}
              {{ render_field(form.partnerthreatenedtouseaweaponpastyeartimes) }}
              {{ render_field(form.partnerthreatenedtouseaweaponearliertimes) }}
              {{ render_field(form.partnerforcedintercourse) }}
              {{ render_field(form.partnerforcedintercoursepastyear) }}
              {{ render_field(form.partnerforcedintercoursepastyeartimes) }}
              {{ render_field(form.partnerforcedintercourseearliertimes) }}
              {{ render_field(form.partnerintercourseoutofintimidation) }}
              {{ render_field(form.partnerintercourseoutofintimidationpastyear) }}
              {{ render_field(form.partnerintercourseoutofintimidationpastyeartimes) }}
              {{ render_field(form.partnerintercourseoutofintimidationearliertimes) }}
              {{ render_field(form.partnerforcedsexualacts) }}
              {{ render_field(form.partnerforcedsexualactspastyear) }}
              {{ render_field(form.partnerforcedsexualactspastyeartimes) }}
              {{ render_field(form.partnerforcedsexualactsearliertimes) }}

              {{ render_field(form.hasbeenvictimoffsv) }}
              {{ render_field(form.relationshiptoperpetrators) }}
              {{ render_field(form.beenpregnant) }}
              {{ render_field(form.numberofpregnancies) }}
              {{ render_field(form.hitduringpregnancy) }}
              {{ render_field(form.knowsothervictims) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Injuries</legend>
              <p><strong>I would now like to learn more about the injuries that you experienced from (any of) your partner's or somebody else's acts that we have talked about. By injury, I mean any form of physical harm, including cuts, sprains, burns, broken bones or broken teeth, or other things like this.</strong></p>
              <p><strong>(If woman has experienced physical violence, ask the next questions.)</strong></p>
              {{ render_field(form.beeninjured) }}
              {{ render_field(form.numberofinjuriesin12months) }}
              {{ render_field(form.beeninjuredbyfamilymember) }}
              {{ render_field(form.numberofinjuriesbyfamilymemberin12months) }}
              {{ render_field(form.drugrelatedabusein12months) }}
              {{ render_field(form.drugrelatedabusein12monthsperpetrator) }}
              {{ render_field(form.drugrelatedabusein12monthsperpetratorother) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Impact and coping</legend>
<p><strong>If woman has experienced physical violence, ask the next 2 questions.</strong></p>
{{ render_field(form.didfightback) }}
{{ render_field(form.hithusbandinretaliation) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Other experiences</legend>
{{ render_field(form.perpetrators) }}
{{ render_field(form.placeofviolence) }}
{{ render_field(form.placeofviolenceother) }}
{{ render_field(form.turntowhenvictimised) }}
{{ render_field(form.attackedandvisitedhealthfacility) }}
{{ render_field(form.othervictimsvisitedhealthcentre) }}
{{ render_field(form.whatservicesareimportant) }}
{{ render_field(form.victimchallenges) }}
{{ render_field(form.desiredsupport) }}
{{ render_field(form.overcommingchallenges) }}
{{ render_field(form.desiredsupportother) }}
{{ render_field(form.whatshouldbedonetopreventfsv) }}
{{ render_field(form.feelingafterinterview) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Completion of the interview</legend>
<p><strong>Ask respondent if she has any comments or questions.</strong></p>
<p><strong>Thank respondent for her time.</strong></p>
<p><strong>In case the respondent has experienced FSV and requesting assistance provide information on available sources of support and services that can help her situation.</strong></p>
          </fieldset>
        </div>
        <fieldset>
            <legend>Final Steps</legend>
            {{ render_field(form.comments) }}
            {{ render_field(form.confirmation) }}
          </fieldset>
          <br/>
          <br/>
          <div class="container form-group">
            {{ form.submit() }}
          </div>
            {{ form.hidden_tag() }}
        </form>
    </div>
{% endblock %}
