{% extends "base.html" %}

{% from "macro.html" import render_field, render_field_new %}

{% block styles %}
{{ super() }}
<script type="text/javascript">
  function closeEditorWarning(){
    return 'Do you want to leave this page?'
}
window.onbeforeunload = closeEditorWarning;
</script>
{% endblock %}

{% block title %}Household Survey (Men){% endblock %}

{% block content %}
    <div class="container">
      {% if form.errors %}
        <div class="form-group"><h4 style="color: red">There are errors in your entry. Please check and try again.</h4></div>
      {% endif %}
        <form method="POST" action="">
          <div class="well well-sm">
          <fieldset>
            <legend>Basic Information</legend>
            {{ form.hidden_tag() }}
            <table class="table">
              <tr>
                <td>{{ render_field(form.province) }}</td>
                <td>{{ render_field(form.district) }}</td>
                <td>{{ render_field(form.wardname) }}</td>
                <td>{{ render_field(form.villagename) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.householdnumber) }}</td>
                <td>{{ render_field(form.interviewer) }}</td>
                <td>{{ render_field(form.dateofinterview) }}</td>
              </tr>
            </table>
          </fieldset>
        </div>
        <h3>Characteristics of the interviewed household</h3>
        <div class="well well-sm">
          <fieldset>
            <legend>Household size and composition</legend>
            {{ render_field(form.maritalstatus) }}
            {{ render_field(form.ageoftherespondent) }}
            {{ render_field(form.literacy) }}
            {{ render_field(form.mainjob) }}
            {{ render_field(form.mainjobother) }}
            {{ render_field(form.mainjobspouse) }}
            {{ render_field(form.mainjobspouseother) }}
            {{ render_field(form.miningforalluvialminerals) }}
            {{ render_field(form.respondenteducation) }}
            {{ render_field(form.spouseeducation) }}
            {{ render_field(form.statusincommunity) }}
            {{ render_field(form.numberofchildren) }}
            {{ render_field(form.numberofboys) }}
            {{ render_field(form.numberofgirls) }}
            {{ render_field(form.familyincome) }}
            {{ render_field(form.migrated) }}
            {{ render_field(form.migratedwhen) }}
            {{ render_field(form.migratedwith) }}
            {{ render_field(form.migratedwithother) }}
            {{ render_field(form.migratedwhy) }}
            {{ render_field(form.migratedwhyother) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Living situation and poverty</legend>
            {{ render_field(form.houseownership) }}
            {{ render_field(form.houseownershipother) }}
            {{ render_field(form.housetype) }}
            {{ render_field(form.housetypeother) }}
            {{ render_field(form.houselatrine) }}
            {{ render_field(form.houselatrinekind) }}
            {{ render_field(form.houselatrinenolatrine) }}
            {{ render_field(form.houselatrinenolatrineother) }}
            {{ render_field(form.hhrelativeclassification) }}
            {{ render_field(form.hhrelativeclassificationreason) }}
            {{ render_field(form.spousesdiscussmoney) }}
            {{ render_field(form.spousesdiscussmoneyother) }}
            {{ render_field(form.drinksalcohol) }}
            <p><strong>If yes,</strong></p>
            {{ render_field(form.drinksalcoholaffectsbehaviour) }}
            {{ render_field(form.drinksalcoholaffectsbehaviourfrequency) }}
            {{ render_field(form.drinksalcoholaffectsbehaviourfrequencyother) }}
            {{ render_field(form.drinksalcoholaggressive) }}
            {{ render_field(form.drinksalcoholdamagesorbeatings) }}
            {{ render_field(form.drinksalcoholregretsafter) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Access to medical services and health status of the household</legend>
              <p><strong>21. Most often visited health services (put the order by number in the brackets)</strong></p>
              {{ render_field(form.gotoaidpost) }}
              {{ render_field(form.gotoaidpostrank) }}
              {{ render_field(form.gotohealthcenre) }}
              {{ render_field(form.gotohealthcenrerank) }}
              {{ render_field(form.gotohospital) }}
              {{ render_field(form.gotohospitalrank) }}
              {{ render_field(form.gototraditionalhealers) }}
              {{ render_field(form.gototraditionalhealersrank) }}
              {{ render_field(form.gotootherhealthservices) }}
              {{ render_field(form.gotootherhealthservicesrank) }}
              {{ render_field(form.gotohospitalreason) }}
              {{ render_field(form.gotohospitalreasonother) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>FSV and types of abuses</legend>
            {{ render_field(form.heardofsv) }}
            {{ render_field(form.heardofsvsource) }}
            {{ render_field(form.fsvunderstanding) }}
            {{ render_field(form.awarenessofthelaw) }}
            {{ render_field(form.awarenessofinterimprotectionorders) }}
            {{ render_field(form.communitysvdiscussions) }}
            {{ render_field(form.communitysvdiscussionsifno) }}
            {{ render_field(form.alcoholanddruguseescalation) }}
            {{ render_field(form.influxofmoney) }}
            {{ render_field(form.influxofmoneyreasons) }}
            {{ render_field(form.influxofmoneyescalatesdrugsandviolence) }}
            {{ render_field(form.influxofmoneyescalatesdrugsandviolencedetails) }}
            {{ render_field(form.formsofviolenceincommunity) }}
            {{ render_field(form.formsoffsvincommunity) }}
            {{ render_field(form.maincausesoffsv) }}
            {{ render_field(form.changeincommunityattitude) }}
            {{ render_field(form.changeincommunityattitudedetails) }}
          </fieldset>
        </div>
        <h3>Attitudes towards FSV</h3>
        <div class="well well-sm">
          <fieldset>
<p><strong>In this community and elsewhere, people have different ideas about families and what is acceptable behavior for men and women in the home. I am going to read you a list of statements, and I would like you to tell me whether you generally agree or disagree with the statement. There are no right or wrong answers.</strong></p>
            {{ render_field(form.goodwifeobeys) }}
            {{ render_field(form.familyproblemsdiscussedinternally) }}
            {{ render_field(form.importanttoshowspousewhosboss) }}
            {{ render_field(form.womanshouldchooseownfriends) }}
            {{ render_field(form.wifeobligedtohavesex) }}
            {{ render_field(form.outsidershouldintervene) }}
            {{ render_field(form.sometimeswomandeservesbeatings) }}
            {{ render_field(form.womanshouldtolerateviolence) }}
            {{ render_field(form.womanrefuseschildrenshouldbebeaten) }}
            {{ render_field(form.womenshouldputwithabuse) }}
            <p><strong>45. Do you think whether the following is domestic violence or not? Please rate the seriousness of 10 actions listed below.  Ranking: 1 - very serious, 2 - quiet serious, 3 - not serious, 4 - not sure</strong></p>
            {{ render_field(form.denyingmoney) }}
            {{ render_field(form.criticising) }}
            {{ render_field(form.preventingoutsidecontact) }}
            {{ render_field(form.yellingabuse) }}
            {{ render_field(form.threateninghurtingsomeone) }}
            {{ render_field(form.smashingobjects) }}
            {{ render_field(form.forcingtohavesex) }}
            {{ render_field(form.slapping) }}
            {{ render_field(form.hitting) }}
            {{ render_field(form.chokingorbeating) }}
            {{ render_field(form.stalking) }}
            {{ render_field(form.harassment) }}
            {{ render_field(form.intimidation) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>FSV</legend>

              {{ render_field(form.beeninvolvedinfsv) }}
              {{ render_field(form.beeninvolvedinfsvother) }}
              {{ render_field(form.experiencedfsv) }}
              {{ render_field(form.experiencedfsvother) }}
              {{ render_field(form.fsvperpetrator) }}
              {{ render_field(form.placeofviolence) }}
              {{ render_field(form.placeofviolenceother) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Injuries</legend>
              <p><strong>I would now like to learn more about the injuries that you experienced from (any of) your partner's or somebody else's acts that we have talked about. By injury, I mean any form of physical harm, including cuts, sprains, burns, broken bones or broken teeth, or other things like this.</strong></p>
              <p><strong>If woman has experienced physical violence, ask the next questions.</strong></p>
              {{ render_field(form.beeninjured) }}
              {{ render_field(form.numberofinjuriesin12months) }}
              {{ render_field(form.beeninjuredbyfamilymember) }}
              {{ render_field(form.numberofinjuriesbyfamilymemberin12months) }}
              {{ render_field(form.drugrelatedabusein12months) }}
              {{ render_field(form.drugrelatedabusein12monthsperpetrator) }}
              {{ render_field(form.drugrelatedabusein12monthsperpetratorother) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Impact and coping</legend>
              <p><strong>If man has experienced physical violence, ask the next 2 questions.</strong></p>
              {{ render_field(form.didfightback) }}
              {{ render_field(form.hitpartnerinretaliation) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Access to health and other available services facilities</legend>
              {{ render_field(form.attackedbyfamilyintohealthfacility) }}
              {{ render_field(form.othervictimsvisitedhealthcentre) }}
              {{ render_field(form.reasonformensaccesstohealthcentre) }}
              {{ render_field(form.counsellingservicesawareness) }}
              {{ render_field(form.counsellingservicesawarenessother) }}
              {{ render_field(form.reportedabuse) }}
              {{ render_field(form.reportedabuseother) }}
              {{ render_field(form.othersreportedabuse) }}
              {{ render_field(form.othersreportedabuseother) }}
              {{ render_field(form.turntowhenvictimised) }}
              {{ render_field(form.importantservicestoreportto) }}
              {{ render_field(form.servicesavailabilityraiting) }}
              {{ render_field(form.challengesofanfsvvictim) }}
              {{ render_field(form.overcomingchallengespractice) }}
              {{ render_field(form.preventivemeasures) }}
          </fieldset>
        </div>
        <div class="well well-sm">
          <fieldset>
            <legend>Completion of the interview</legend>
              <p><strong>Ask respondent if he has any comments or questions.</strong></p>
              <p><strong>Thank respondent for her time.</strong></p>
              <p><strong>In case the respondent has experienced FSV and requesting assistance provide information on available sources of support and services that can help her situation.</strong></p>
          </fieldset>
        </div>
        <fieldset>
            <legend>Final Steps</legend>
            {{ render_field(form.comments) }}
            {{ render_field(form.confirmation) }}
          </fieldset>
          <br/>
          <br/>
          <div class="container form-group">
            {{ form.submit() }}
          </div>
            {{ form.hidden_tag() }}
        </form>
    </div>
{% endblock %}
