{% extends "base.html" %} {% from "macro.html" import render_field %} {% from "macro.html" import render_field_new %} {%
block styles %} {{ super() }}
<script type="text/javascript">
    function closeEditorWarning() {
        return 'Do you want to leave this page?'
    }
    function otherFocus(element) {
        document.getElementById(element).checked = true;
    }
</script> 
{% endblock %} 
{% block title %}Survey: Final Trade Store{% endblock %} 
{% block content %}
<div class="container">
    {% if form.errors %}
    <div class="form-group">
        <h4 style="color: red">There are errors in your entry. Please check and try again.</h4>
    </div>
    {% endif %}
    <h4><center>Questionnaire for Trade Store Owners</center></h4>
    <p>
        <strong>We represent the Socio-Economic Impact Study team managed by the Highlands Region Road Improvement Investment Program financed jointly by the Asian Development Bank and GoPNG. We solicit your support to answer few questions with regard to the on-going road rehabilitation works.</strong>
    </p>
    <p>
        <strong>PLEASE INTERVIEW THE SAME RESPONDENTS AS IN THE BASELINE STUDY.</strong><br />
        <strong>Interviewer: please ensure you have a copy of the completed baseline questionnaire for the same trade store to check answers.</strong>
    </p>
    <form method="POST" action="/finaltradestore">
        {{ form.csrf_token }}
        <div class="well well-sm">
            <fieldset>
                {{ form.hidden_tag() }} 
                
                <div class="row ">
                    <div class="col-lg-3 margin-10px"> {{ form.dateofinterview.label }}</div>
                    <div class="col-lg-3"> {{ form.dateofinterview() }}</div> 
                    {% if form.errors.dateofinterview %}
                    <span style="color:red" class="col-lg-3">Should be date format</span>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-lg-3 margin-10px"> {{ form.namephoneofstorekeeper.label }}</div>
                    <div class="col-lg-3"> {{ form.namephoneofstorekeeper() }}</div>
                    {% if form.errors.namephoneofstorekeeper %}
                    <span style="color:red" class="col-lg-3">Must contain 3 to 100 characterics</span>
                    {% endif %}
                </div>          
                <div class="row">
                    <div class="col-lg-3 margin-10px"> {{ form.interviewer.label }}</div>
                    <div class="col-lg-3"> {{ form.interviewer() }}</div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-3 margin-10px"> {{ form.roadcorridor.label }}</div>
                    <div class="col-lg-3"> {{ form.roadcorridor() }}</div>
                    <div class="col-lg-3"> {{ form.villagename.label }}</div>
                    <div class="col-lg-3"> {{ form.villagename() }}</div>
                </div>
                <br />
                <br />
            </fieldset>
            <fieldset>
                {{ form.tradestoresinfrontage.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.tradestoresinfrontage %}
                <tr>
                   {% if loop.index == 1 %}
                  <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
                  {% else %}
                  <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
                  {% endif %}
                  <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                <br />
                {{ form.tradestoresinfrontageother.label }} <br />{{ form.tradestoresinfrontageother(**{ "disabled": "disabled" }) }}<br />
                {{ form.roadtomovegoodstotrade.label }} <br />{{ form.roadtomovegoodstotrade() }}<br />
                {{ form.roadforeasymovegoods.label }} <br />{{ form.roadforeasymovegoods(**{ "disabled": "disabled" }) }}<br />
                {{ render_field(form.changeinnumberoftradestore) }}

                {{ form.storesownbywomen.label }} {{ form.storesownbywomen() }}
                {% if form.errors.storesownbywomen %}
                    <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
                <br />

                {{ form.ownorhirevehicle.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.ownorhirevehicle %}
                <tr>
                  <td>{{ subfield }}</td>
                  <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                <br />

                {{ form.vehiclehirefee.label }} &nbsp;{{ form.vehiclehirefee() }} (Kina)
                {% if form.errors.vehiclehirefee %}
                    <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
                <br />
                {{ form.howmanytimeshire.label }} &nbsp;{{ form.howmanytimeshire() }}
                {% if form.errors.howmanytimeshire %}
                    <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
                <br />

                {{ form.changesinanswertoquestion.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.changesinanswertoquestion %}
                <tr>
                   {% if loop.index == 1 %}
                  <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
                  {% else %}
                  <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
                  {% endif %}
                  <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                <br />
                {{ form.changesinanswertoquestionother.label }} <br />{{ form.changesinanswertoquestionother(**{ "disabled": "disabled" }) }}<br />

                {{ form.moveotherstuff.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.moveotherstuff %}
                <tr>
                   {% if loop.index == 1 %}
                  <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
                  {% else %}
                  <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
                  {% endif %}
                  <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                <br />
                {{ form.moveotherstuffother.label }} <br />{{ form.moveotherstuffother(**{ "disabled": "disabled" }) }}<br />

                {{ render_field(form.anychangeincostoftransport) }}

                <p><strong>12. What is your average income a) per week {{ form.averageincomeweeknow() }} Kina,  b) per month {{ form.averageincomemonthnow() }} Kina?</strong></p>
                {% if form.errors.averageincomeweeknow %}
                    <span style="color:red;">Invalid Integer Value</span><br />
                {% endif %} 
                {% if form.errors.averageincomemonthnow %}
                    <span style="color:red;">Invalid Integer Value</span><br />
                {% endif %} 
                {{ form.averageincomechangeddetail.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.averageincomechangeddetail %}
                <tr>
                   {% if loop.index == 1 %}
                  <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
                  {% else %}
                  <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
                  {% endif %}
                  <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                <br />
                {{ form.averageincomechangeddetailother.label }} <br />{{ form.averageincomechangeddetailother(**{ "disabled": "disabled" }) }}<br />

                <p><strong>13. How many employees you have? Please specify by sex and add age to brackets.</strong></p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>a) female</strong>{{ form.employeesofhavefemale() }} {{ form.employeesofhavefemale.label }},<strong> b) male</strong>{{ form.employeesofhavemale() }} {{ form.employeesofhavemale.label }}
                {% if form.errors.employeesofhavefemale %}
                <span style="color:red;">Invalid Integer Value</span><br />
                {% endif %}
                {% if form.errors.employeesofhavemale %}
                <span style="color:red;">Invalid Integer Value</span><br />
                {% endif %}

                <p><strong>Can you see the number of employees changed between now and prior the road upgrading?</strong></p>
                {{ render_field(form.howmanychangedgenderofemployee) }}
                
                {{ form.tradestorelocalproduced.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.tradestorelocalproduced %}
                <tr>
                   {% if loop.index == 1 %}
                  <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
                  {% else %}
                  <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
                  {% endif %}
                  <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                <br />
                {{ form.tradestorelocalproducedother.label }} <br />{{ form.tradestorelocalproducedother(**{ "disabled": "disabled" }) }}<br />

                {{ form.estimatequantity.label }} {{ form.estimatequantity() }}<br />
                {{ form.materialcollect.label }} {{ form.materialcollect() }} times per month<br />
                {% if form.errors.materialcollect %}
                <span style="color:red;">Invalid Integer Value</span><br/>
                {% endif %}

                {{ form.commoditiesresaleitems.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.commoditiesresaleitems %}
                <tr>
                   {% if loop.index == 1 %}
                  <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
                  {% else %}
                  <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
                  {% endif %}
                  <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                <br />
                {{ form.whatitemcollected.label }} {{ form.whatitemcollected(**{ "disabled": "disabled" }) }}<br />
                {{ form.traderoutside.label }} {{ form.traderoutside(**{ "disabled": "disabled" }) }}<br />
                {% if form.errors.traderoutside %}
                <span style="color:red;">Invalid Integer Value</span><br />
                {% endif %}
                {{ form.commdestimatequantity.label }} {{ form.commdestimatequantity(**{ "disabled": "disabled" }) }}<br />
                {{ form.whenproductscollected.label }} {{ form.whenproductscollected(**{ "disabled": "disabled" }) }}<br />
                <br />
                {{ render_field(form.questionsrehabilitationdetail) }}

                <p><strong>18. What equipment and vehicles are possessed by the trade store? Please write the number of:</strong></p>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form.possessedgenerator.label }}{{ form.possessedgenerator() }} 
                       
                        {% if form.errors.possessedgenerator %}
                            <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                         {{ form.possessedfridge.label }}{{ form.possessedfridge() }}
                         {% if form.errors.possessedfridge %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {{ form.possessedcooler.label }}{{ form.possessedcooler() }}
                         {% if form.errors.possessedcooler %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form.possessedsolarunit.label }}{{ form.possessedsolarunit() }}
                         {% if form.errors.possessedsolarunit %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                         {{ form.possessedbus15seater.label }}{{ form.possessedbus15seater() }}
                         {% if form.errors.possessedbus15seater %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form.possessedbus25seater.label }}{{ form.possessedbus25seater() }}
                         {% if form.errors.possessedbus25seater %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {{ form.possessedcar.label }}{{ form.possessedcar() }}
                         {% if form.errors.possessedcar %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6">
                         {{ form.possessedmotorbike.label }}{{ form.possessedmotorbike() }}
                         {% if form.errors.possessedmotorbike %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                         {{ form.possessedlighttruck.label }}{{ form.possessedlighttruck() }}
                         {% if form.errors.possessedlighttruck %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                
                </div>
                <div class="row">
                    <div class="col-lg-6">
                         {{ form.possessedheavytruck.label }}{{ form.possessedheavytruck() }}
                         {% if form.errors.possessedheavytruck %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                         {{ form.possessedtractortrailer.label }}{{ form.possessedtractortrailer() }}
                         {% if form.errors.possessedtractortrailer %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                         {{ form.possessedtractor.label }}{{ form.possessedtractor() }}
                         {% if form.errors.possessedtractor %}
                        <span style="color:red;">Invalid Integer Value</span>
                        {% endif %}
                    </div>
                </div>
                    
                {{ render_field(form.changeitesmdetail) }}

                <p><strong>19. Please explain any change in the quality of trade store building between now and prior to road rehabilitation. Record answers in table below:</strong></p>
                <table class="table table-bordered">
                    <tr>
                        <th>Description of the trade store building</th>
                        <th>Now</th>
                        <th>Prior to road rehabilitation</th>
                        <th>Comments</th>
                    </tr>
                    <tr>
                        <td>Bush material (roof, wall and floor, all this material)</td>
                        <td>{{ render_field(form.bushmaterialnow) }}</td>
                        <td>{{ render_field(form.bushmaterialprior) }}</td>
                        <td>{{ render_field(form.bushmaterialcomment) }}</td>
                    </tr>
                    <tr>
                        <td>Semi-permanent (any of roof, wall or floor is made of bush and other permanent)</td>
                        <td>{{ render_field(form.semipermanentnow) }}</td>
                        <td>{{ render_field(form.semipermanentprior) }}</td>
                        <td>{{ render_field(form.semipermanentcomment) }}</td>
                    </tr>
                    <tr>
                        <td>Permanent (roof, wall and floor all permanent materials)</td>
                        <td>{{ render_field(form.permanentnow) }}</td>
                        <td>{{ render_field(form.permanentprior) }}</td>
                        <td>{{ render_field(form.permanentcomment) }}</td>
                    </tr>
                    <tr>
                        <td>Number of rooms</td>
                        <td>{{ render_field(form.numberofroomsnow) }}</td>
                        <td>{{ render_field(form.numberofroomsprior) }}</td>
                        <td>{{ render_field(form.numberofroomscomment) }}</td>
                    </tr>
                    <tr>
                        <td>Storage area (sq meters)</td>
                        <td>{{ render_field(form.storageareanow) }}</td>
                        <td>{{ render_field(form.storageareaprior) }}</td>
                        <td>{{ render_field(form.storageareacomment) }}</td>
                    </tr>
                </table>

                {{ form.changestonumberofcustomer.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.changestonumberofcustomer %}
                <tr>
                   {% if loop.index == 1 %}
                  <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
                  {% else %}
                  <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
                  {% endif %}
                  <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                <br />
                {{ form.changestonumberofcustomerother.label }} <br />{{ form.changestonumberofcustomerother(**{ "disabled": "disabled" }) }}<br />
                 
                <p><i>Get two or three quality photographs of the store from different angles (with the owner’s consent).</i></p>
                <p><i>Compare with the previous photograph (baseline) and highlight changes/improvements.</i></p>

                <p><strong>21. Please complete the middle column of the table for the trade store price in this village. Please make sure you have the
                price from the provincial capital in the far right column. Collect the prices <u>first</u> in the villages and then the prices of
                the same products in the provincial capital.</strong></p>

                <table class="table table-bordered">
                    <tr>
                        <th>Commodity/unit</th>
                        <th>Trade Store Price</th>
                        <th>Provincial Capital Price</th>
                    </tr>
                    <tr>
                        <td>Packet of salt</td>
                        <td>{{ render_field(form.salttsprice) }}</td>
                        <td>{{ render_field(form.saltpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Noodles</td>
                        <td>{{ render_field(form.noodlestsprice) }}</td>
                        <td>{{ render_field(form.noodlespcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Sugar 1kg</td>
                        <td>{{ render_field(form.sugar1kgtsprice) }}</td>
                        <td>{{ render_field(form.sugar1kgpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Sugar 500 g</td>
                        <td>{{ render_field(form.suger500gtsprice) }}</td>
                        <td>{{ render_field(form.suger500gpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Rice 1kg</td>
                        <td>{{ render_field(form.rice1kgtsprice) }}</td>
                        <td>{{ render_field(form.rice1kgpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Rice 500 g</td>
                        <td>{{ render_field(form.rice500gtsprice) }}</td>
                        <td>{{ render_field(form.rice500gpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Soap bar (loose)</td>
                        <td>{{ render_field(form.soapbartsprice) }}</td>
                        <td>{{ render_field(form.soapbarpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Petrol liter</td>
                        <td>{{ render_field(form.petroltsprice) }}</td>
                        <td>{{ render_field(form.petrolpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Tinned fish (big)</td>
                        <td>{{ render_field(form.fishbigtsprice) }}</td>
                        <td>{{ render_field(form.fishbigpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Tinned fish (small)</td>
                        <td>{{ render_field(form.fishsmalltsprice) }}</td>
                        <td>{{ render_field(form.fishsmallpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Tinned meat Ox & Palm (big)</td>
                        <td>{{ render_field(form.meatbigtsprice) }}</td>
                        <td>{{ render_field(form.meatbigpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Tinned meat Ox & Palm (small)</td>
                        <td>{{ render_field(form.meatsmalltsprice) }}</td>
                        <td>{{ render_field(form.meatsmallpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Kerosene (1 liter)</td>
                        <td>{{ render_field(form.kerosenetsprice) }}</td>
                        <td>{{ render_field(form.kerosenepcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Bottled water (1 liter)</td>
                        <td>{{ render_field(form.bottlewatertsprice) }}</td>
                        <td>{{ render_field(form.bottlewaterpcprice) }}</td>
                    </tr>
                    <tr>
                        <td>Oil (1 liter)</td>
                        <td>{{ render_field(form.oiltsprice) }}</td>
                        <td>{{ render_field(form.oilpcprice) }}</td>
                    </tr>
                </table>
                {{ render_field(form.tradestoreoperatordetail) }}

                <p><strong>22. Tick the items that are kept for sale and list the rest of the items which are not shown in the table. Ask whether there are any changes to items kept for sale between now and prior to road upgrading.</strong></p>
                <table class="table table-bordered">
                    <tr>
                        <th>Commodity/unit</th>
                        <th>Tick if applicable</th>
                    </tr>
                    <tr>
                        <td>Packet of salt</td>
                        <td>{{ form.saltpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Noodles</td>
                        <td>{{ form.noodlespriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Sugar 1kg</td>
                        <td>{{ form.sugar1kgpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Sugar 500 g</td>
                        <td>{{ form.suger500gpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Rice 1kg</td>
                        <td>{{ form.rice1kgpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Rice 500 g</td>
                        <td>{{ form.rice500gpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Soap bar (loose)</td>
                        <td>{{ form.soapbarpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Petrol liter</td>
                        <td>{{ form.petrolpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Tinned fish (big)</td>
                        <td>{{ form.fishbigpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Tinned fish (small)</td>
                        <td>{{ form.fishsmallpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Tinned meat Ox & Palm (big)</td>
                        <td>{{ form.meatbigpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Tinned meat Ox & Palm (small)</td>
                        <td>{{ form.meatsmallpriceapplicable() }}</td>
                    </tr>
                    <tr>
                        <td>Kerosene (1 liter)</td>
                        <td>{{ form.kerosenepriceapplicable() }}</td>
                    </tr>
                </table>
                <p><strong>Thank the trade store owners for their time and help!</strong></p>
                {{ render_field(form.tradestoresummarizedetail) }}
            </fieldset>

            <!-- make a table -->
            <fieldset>
                <legend>Final Steps</legend>
                {{ render_field(form.comments) }}
                {{ render_field(form.confirmation) }}
            </fieldset>
            <br/>
            <br/>
            <div class="container form-group">
                {{ form.submit() }}
            </div>
            {{ form.hidden_tag() }}
    </form>
    </div>
    {% endblock %}