{% extends "base.html" %}

{% from "macro.html" import render_field, render_field_new %}

{% block styles %}
{{ super() }}
<script type="text/javascript">
  function closeEditorWarning(){
    return 'Do you want to leave this page?'
}

  function otherFocus(element) {
    document.getElementById(element).checked = true;
  }
</script>
{% endblock %}

{% block title %}Survey: Household{% endblock %}

{% block content %}
    <div class="container">
      {% if form.errors %}
        <div class="form-group"><h4 style="color: red">There are errors in your entry. Please check and try again.</h4></div>
      {% endif %}
      <h3><center>HOUSEHOLD SURVEY QUESTIONNAIRE</center></h3>
      <h4>PLEASE NOTE THAT 60 % OF THE HH RESPONDENTS SHOULD BE APs</h4>
      <h5>(AP=A person who has experienced loss of assets, cultural or religious places, displacement, loss of income and livelihoods because of the road construction)<br />
      <u>Interviews should be conducted with the same HH as baseline, as much as possible! Please check the list of names of HHs interviewed during the baseline study including village map showing location of the surveyed HHs.</u></h5>
        <form method="POST" action="/householdsurvey">
            {{ form.csrf_token }}
          <div class="well well-sm">
          <fieldset>
            {{ form.hidden_tag() }}
            {{ form.province.label }} {{ form.province() }}<br />
            {{ form.district.label }} {{ form.district() }}<br />
            {{ form.ward.label }} {{ form.ward() }}<br />
            {{ form.village.label }} {{ form.village() }}<br />
            {{ form.road.label }} {{ form.road() }}<br />
            {{ form.householdnumber.label }} {{ form.householdnumber() }}<br />
            <div class="row">
              <div class="col-lg-3"> 
                {% if form.errors.householdnumber %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            {{ form.headofhouseholdname.label }} {{ form.headofhouseholdname() }}<br />
            {{ form.headofhouseholdsex.label }} {{ form.headofhouseholdsex() }}<br />
            
            {{ form.intervieweename.label }} {{ form.intervieweename() }}<br />
            {{ form.clansubclan.label }} {{ form.clansubclan() }}<br />
            
            {{ form.researchassistant.label }} {{ form.researchassistant() }}<br />
            {{ form.interviewdate.label }} {{ form.interviewdate() }}<br />
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.interviewdate %}
                  <span style="color:red">Should be Date Format</span>
                {% endif %}
              </div>
            </div>
            {{ form.samepeoplenumber.label }} {{ form.samepeoplenumber() }}<br />
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.samepeoplenumber %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            {{ form.affectedperson.label }}
            <br /> {% for subfield in form.affectedperson %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}<br />
            {{ form.affectedspecifics.label }}<br />
             {% for subfield in form.affectedspecifics %}
              <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
              </tr>
            {% endfor %}
            <br /><br />

            <h4><strong>Household Characteristics</strong></h4>
            <h4>
              <strong>Household size and composition (Circle the answer)</strong>
            </h4>
             {{ form.respondentgender.label }}&nbsp;&nbsp;&nbsp;{% for subfield in form.respondentgender %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}<br />

            {{ form.huswifepresent.label }}&nbsp;&nbsp;&nbsp;{% for subfield in form.huswifepresent %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}<br />

            <div class="row">
              <div class="col-lg-3">{{ form.respondentage.label }}</div>
              <div class="col-lg-3">{{ form.respondentage() }}</div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.respondentage %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            {{ form.hhheadliteracy.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.hhheadliteracy %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.spouseliteracy.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.spouseliteracy %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />

            {{ form.respondentmainjob.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.respondentmainjob %}
            <tr>
              {% if loop.index == 5 %}
                <br />
              {% endif%}
              {% if loop.index == 6 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}<br />
            {{ form.respondentmainjobother.label }} <br />{{ form.respondentmainjobother(**{ "disabled": "disabled" }) }}<br />

            {{ form.spousemainjob.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.spousemainjob %}
            <tr>
              {% if loop.index == 4 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}<br />
            {{ form.spousemainjobother.label }} <br />{{ form.spousemainjobother(**{ "disabled": "disabled" }) }}<br />
            
            {{ form.respondenteducation.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.respondenteducation %}
             {% if loop.index == 3 %}
            <br /> 
            {% endif %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.spouseeducation.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.spouseeducation %}
             {% if loop.index == 3 %}
            <br /> 
            {% endif %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.migratedatetolocation.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.migratedatetolocation %}
            <tr>
               {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.migratewherewhen.label }} {{ form.migratewherewhen(**{ "disabled": "disabled" }) }}<br />
            <div class="row">
              <div class="col-lg-6">{{ form.numberofchildren.label }}</div>
              <div class="col-lg-3">{{ form.numberofchildren() }}</div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.numberofchildren %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">{{ form.numberofboys.label }}</div>
              <div class="col-lg-3">{{ form.numberofboys() }}</div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.numberofboys %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">{{ form.numberofgirls.label }}</div>
              <div class="col-lg-3">{{ form.numberofgirls() }}</div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.numberofgirls %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            {{ form.howfarhouse.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.howfarhouse %}
            {% if loop.index == 3 %}
            <br /> 
            {% endif %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />

            {{ form.howfarawayproject.label }} {{ form.howfarawayproject() }} {{ form.howfarawaycontrol.label }} {{ form.howfarawaycontrol() }} <strong>(km)?</strong><br />
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.howfarawayproject %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.howfarawaycontrol %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <br />

            <h4><strong>Household physical features and assets</strong></h4>

             {{ form.houseownership.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.houseownership %}
              <tr>
              {% if loop.index == 3 %}
                <br /> 
              {% endif %}
              {% if loop.index == 5 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
              </tr>
              {% endfor %}<br />
            {{ form.houseownershipother.label }} <br />{{ form.houseownershipother(**{ "disabled": "disabled" }) }}<br />

            {{ form.landownership.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.landownership %}
              <tr>
              {% if loop.index % 4 == 3%}
                <br /> 
              {% endif %}
              {% if loop.index == 7 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
              </tr>
              {% endfor %}<br />
            {{ form.landownershipother.label }} <br />{{ form.landownershipother(**{ "disabled": "disabled" }) }}<br />

             {{ form.typeofhouse.label }} &nbsp;&nbsp;&nbsp;<br />{% for subfield in form.typeofhouse %}
              <tr>
              {% if loop.index == 3%}
                <br /> 
              {% endif %}
              {% if loop.index == 5 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
              </tr>
              {% endfor %}<br />
            {{ form.typeofhouseother.label }} <br />{{ form.typeofhouseother(**{ "disabled": "disabled" }) }}<br />
            
             {{ form.houseelectricity.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.houseelectricity %}
            <tr>
               {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            
            {{ form.houseelectricitytype.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.houseelectricitytype %}
            <tr>
               {% if loop.index == 5 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />

            {{ form.houseelectricitytypeother.label }} <br />{{ form.houseelectricitytypeother(**{ "disabled": "disabled" }) }}<br />
            {{ form.othersourceoflight.label }} {{ form.othersourceoflight() }}
            <br />
            <p><strong>21. What types of assets are currently owned by this HH?</strong></p>
            <table class="table table-bordered">
              <tr>
                <th>Asset</th>
                <th>Number of asset</th>
              </tr>
              <tr>
                <td>television</td>
                <td>
                  {{ render_field(form.televisionbefore) }}<br />
                </td>
                
            <br />
              </tr>
              <tr>
                <td>VCR</td>
                <td>
                  {{ render_field(form.VCRbefore) }}<br />
                </td>
              </tr>
              <tr>
                <td>video cassette recorder/CD player</td>
                <td>
                  {{ render_field(form.cassetteCDplayerbefore) }}
                </td>
              </tr>
              <tr>
                <td>camera</td>
                <td>
                  {{ render_field(form.camerabefore) }}
                </td>
              </tr>
              <tr>
                <td>radio</td>
                <td>
                  {{ render_field(form.radiobefore) }}
                </td>
              </tr>
              <tr>
                <td>personal computer</td>
                <td>
                  {{ render_field(form.pcbefore) }}
                </td>
              </tr>
              <tr>
                <td>mobile phone</td>
                <td>
                  {{ render_field(form.mobilephonebefore) }}
                </td>
              </tr>
              <tr>
                <td>bicycle</td>
                <td>
                  {{ render_field(form.bicyclebefore) }}
                </td>
              </tr>
              <tr>
                <td>motorbike</td>
                <td>
                  {{ render_field(form.motorbikebefore) }}
                </td>
              </tr>
              <tr>
                <td>car/truck/bus</td>
                <td>
                  {{ render_field(form.cartruckbusbefore) }}
                </td>
              </tr>
              <tr>
                <td>boat</td>
                <td>
                  {{ render_field(form.boatbefore) }}
                </td>
              </tr>
              <tr>
                <td>furniture (table, chair, beds)</td>
                <td>
                  {{ render_field(form.furniturebefore) }}
                </td>
              </tr>
            </table>
            <p><strong>22. Livestock owned by this HH</strong></p>
            <table class="table table-bordered">
              <tr>
                <th>Livestock</th>
                <th>Number of animals</th>
              </tr>
              <tr>
                <td>cattle</td>
                <td>
                  {{ render_field(form.cattlebefore) }}
                </td>
              </tr>
              <tr>
                <td>sheep</td>
                <td>
                  {{ render_field(form.sheepbefore) }}
                </td>
              </tr>
              <tr>
                <td>pigs</td>
                <td>
                  {{ render_field(form.pigsbefore) }}
                </td>
              </tr>
              <tr>
                <td>goats</td>
                <td>
                  {{ render_field(form.goatsbefore) }}
                </td>
              </tr>
              <tr>
                <td>poultry</td>
                <td>
                  {{ render_field(form.poultrybefore) }}
                </td>
              </tr>
              <tr>
                <td>fish ponds</td>
                <td>
                  {{ render_field(form.fishbefore) }}
                </td>
              </tr>
              <tr>
                <td>other, specify</td>
                <td>
                  {{ render_field(form.otherlibstackbefore) }}
                </td>
              </tr>
          </table>

          <h4><strong>Agriculture</strong></h4>
          <div class="row">
            <div class="col-lg-4">{{ form.totalgardens.label }}</div>
            <div class="col-lg-3">{{ form.totalgardens() }}</div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              {% if form.errors.totalgardens %}
              <span style="color:red">Invalid Integer Value</span>
              {% endif %}
            </div>
          </div>

          <p><strong>24. What food and cash crops do you mainly cultivate in your gardens?</strong></p>
            <table class="table table-bordered">
            <tr>
              <td>
                {{ form.cropsaibika() }}{{ form.cropsaibika.label }} 
              </td>
              <td>
                {{ form.cropsbanana() }}{{ form.cropsbanana.label }} 
              </td>
              <td>
                {{ form.cropsbeans() }}{{ form.cropsbeans.label }} 
              </td>
              <td>
                {{ form.cropscabbage() }}{{ form.cropscabbage.label }} 
              </td>
            </tr>
            <tr>
              <td>{{ form.cropscassava() }}{{ form.cropscassava.label }}</td>
              <td>{{ form.cropscucumber() }}{{ form.cropscucumber.label }}</td>
              <td>{{ form.cropskaukau() }}{{ form.cropskaukau.label }}</td>
              <td>{{ form.cropspeanut() }}{{ form.cropspeanut.label }}</td>
             </tr>
             <tr>
              <td>{{ form.cropspineapple() }}{{ form.cropspineapple.label }}</td>
              <td>{{ form.cropspitpit() }}{{ form.cropspitpit.label }}</td>
              <td>{{ form.cropspotato() }}{{ form.cropspotato.label }}</td>
              <td>{{ form.cropspumpkin() }}{{ form.cropspumpkin.label }}</td>
             </tr>
             <tr>
              <td>{{ form.cropssingapore() }}{{ form.cropssingapore.label }}</td>
              <td>{{ form.cropssugarcane() }}{{ form.cropssugarcane.label }}</td>
              <td>{{ form.cropssweetpotato() }}{{ form.cropssweetpotato.label }}</td>
              <td>{{ form.cropstapioca() }}{{ form.cropstapioca.label }}</td>
             </tr>
             <tr>
              <td>{{ form.cropstaro() }}{{ form.cropstaro.label }}</td>
              <td>{{ form.cropstobacco() }}{{ form.cropstobacco.label }}</td>
              <td>{{ form.cropswatermelon() }}{{ form.cropswatermelon.label }}</td>
              <td>{{ form.cropsyam() }}{{ form.cropsyam.label }}</td>
             </tr>
             <tr>
              <td>
                {{ form.cropscoffee() }}{{ form.cropscoffee.label }}
              </td>
             </tr>
             </table>
             {{ render_field(form.cropsother) }}

            {{ form.madehowmanygardens.label }} {{ form.madehowmanygardens() }} <br />{{ form.shareforconsumption.label }} {{ form.shareforconsumption() }}% {{ form.shareforgeneration.label }} {{ form.shareforgeneration() }}<strong>%</strong><br />
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.madehowmanygardens %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.shareforconsumption %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.shareforgeneration %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            {{ form.winthingardens.label }} {{ form.winthingardens() }} {{ form.outsidegardens.label }} {{ form.outsidegardens() }} <strong> the road project?</strong><br />
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.winthingardens %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.outsidegardens %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            {{ form.gardenestablishdifficulty.label }}
            <div class="row">
              <div class="col-lg-6">
                {{ form.gardenestablishdifficulty(cols="80", rows="5") }}
              </div>
            </div>

            <h4><strong>Markets including roadside stalls</strong></h4>
            <p><strong>28. Where do you sell your food crops, animals, cash crops and fish; and what is your travel mode?</strong></p>
            <table class="table table-bordered">
              <tr>
                <td>Name of <b>village market</b> place</td>
                <td>{{ render_field(form.villagemarketnamebefore) }}</td>
              </tr>
              <tr>
                <td>Distance from home (km)</td>
                <td>
                  {{ render_field(form.villagemarketdistancebefore) }}<br />
                </td>
              </tr>
              <tr>
                <td>Walking time (minutes)</td>
                <td>{{ render_field(form.villagemarketwalkingtimebefore) }}</td>
              </tr>
              <tr>
                <td>PMV time (minutes)</td>
                <td>
                  {{ render_field(form.villagemarketpmvtimebefore) }}<br />
                </td>
              </tr>
              <tr>
                <td>PMV cost (Kina)</td>

                <td>
                  {{ render_field(form.villagemarketpmvcostbefore) }}<br />
                </td>
              </tr>
              <tr>
                <td>How do you travel to these markets? Mark only 1 option, the most used one (1) walking, (2) bus/PMV, (3) car</td>
                <td>
                  {{ render_field(form.villagemarkettravelmodebefore) }}<br />
                </td>
              </tr>
              <tr>
              <tr>
                <td>How many times per month do you go?</td>
                <td>
                  {{ render_field(form.villagemarketfrequencybefore) }}<br />
                </td>
              </tr>
              <tr>
                <td>What is typical income per one trip? (K)</td>

                <td>
                  {{ render_field(form.villagemarketincomepertripbefore) }}
                </td>
              </tr>
              <tr>
                <td>What do you mainly sell? (food crops, cash crops, animals or fish?) Specify</td>
                <td>{{ render_field(form.villagemainsellbefore) }}</td>
              </tr>
            </table>
            <table class="table table-bordered">
              <tr>
                <td>Name of <b>town market</b> place</td>
                <td>{{ render_field(form.townmarketnamebefore) }}</td>
              </tr>
              <tr>
                <td>Distance from home (km)</td>
                <td>
                  {{ render_field(form.townmarketdistancebefore) }}<br />
                </td>
              </tr>
              <tr>
                <td>Walking time (minutes)</td>
                <td>{{ render_field(form.townmarketwalkingtimebefore) }}</td>
              </tr>
              <tr>
                <td>PMV time (minutes)</td>
                <td>
                  {{ render_field(form.townmarketpmvtimebefore) }}<br />
                </td>
              </tr>
              <tr>
                <td>PMV cost (Kina)</td>

                <td>
                  {{ render_field(form.townmarketpmvcostbefore) }}<br />
                </td>
              </tr>
              <tr>
                <td>How do you travel to these markets? Mark only 1 option, the most used one (1) walking, (2) bus/PMV, (3) car</td>
                <td>
                  {{ render_field(form.townmarkettravelmodebefore) }}<br />
                </td>
              </tr>
              <tr>
              <tr>
                <td>How many times per month do you go?</td>
                <td>
                  {{ render_field(form.townmarketfrequencybefore) }}<br />
                </td>
              </tr>
              <tr>
                <td>What is typical income per one trip? (K)</td>

                <td>
                  {{ render_field(form.townmarketincomepertripbefore) }}
                </td>
              </tr>
              <tr>
                <td>What do you mainly sell? (food crops, cash crops, animals or fish?) Specify</td>
                <td>{{ render_field(form.townmainsellbefore) }}</td>
              </tr>
            </table>

            {{ form.sellanimals.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.sellanimals %}
            <tr>
               {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.sellanimalsother.label }} <br />{{ form.sellanimalsother(**{ "disabled": "disabled" }) }}<br />

            {{ form.traderscometothisvillage.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.traderscometothisvillage %}
            <tr>
               {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.traderscometothisvillageyes.label }} {{ form.traderscometothisvillageyes(**{ "disabled": "disabled" }) }} {{ form.traderscometothisvillagehowoften.label }} {{ form.traderscometothisvillagehowoften(**{ "disabled": "disabled" }) }} <br />

            {{ form.satisfiedwithpricesoffered.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.satisfiedwithpricesoffered %}
            <tr>
              <td>{{ subfield(**{ "disabled": "disabled" }) }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />

            <p><strong>31. Do you sell different products now than prior to road construction? (list all crops, animals and other) Please, specify</strong></p>
            {{ render_field(form.differentproductsprior)}}

            <p><strong>32. Explain reasons for change in products sold:</strong></p>
            {{ render_field(form.reasonchange)}}

            <h4><strong>Health status of HH and Access to health services</strong></h4>
            {{ form.overallhealthstatusnow.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.overallhealthstatusnow %} 
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />

            <p><strong>34. Health facility information</strong></p>
            <table class="table table-bordered">
              <tr>
                <th>Health Facility</th>
                <th>The location of the facility <span class="normal-font">(name of the village)</span></th>
                <th>Distance from your home <span class="normal-font">(km)</span></th>
                <th>Main travel mode <span class="normal-font">(mark the main travel mode) (1) walking, (2) bus, (3) truck, (4) car</span></th>
                <th>Cost of return trip <span class="normal-font">(K)</span></th>
                <th>Travel time <span class="normal-font">(min)</span></th>
              </tr>
              <tr>
                <td>Aid post</td>
                <td>{{ render_field(form.aidpostlocation) }}</td>

                <td>
                  {{ render_field(form.aidpostdistance) }}<br />
                </td>

                <td>{{ render_field(form.aidposttrasnportnow) }}</td>

                <td>
                  {{ render_field(form.aidpostcostofreturntripnow) }}<br />
                </td>

                <td>
                  {{ render_field(form.aidposttraveltimenow) }}<br />
                </td>
                
              <tr>
                <td>Health centre</td>
                <td>{{ render_field(form.healthcentrelocation) }}</td>

                <td>
                  {{ render_field(form.healthcentredistance) }}<br />
                </td>

                <td>{{ render_field(form.healthcentretrasnportnow) }}</td>

                <td>
                  {{ render_field(form.healthcentrecostofreturntripnow) }}<br />
                </td>

                <td>
                  {{ render_field(form.healthcentretraveltimenow) }}<br />
                </td>

              </tr>
              <tr>
                
                
                <td>Hospital</td>

                <td>{{ render_field(form.hospitallocation) }}</td>
                
                <td>
                  {{ render_field(form.hospitaldistance) }}
                </td>
                
                <td>{{ render_field(form.hospitaltrasnportnow) }}</td>
                
                <td>
                  {{ render_field(form.hospitalcostofreturntripnow) }}
                </td>
                
                <td>
                  {{ render_field(form.hospitaltraveltimenow) }}
                </td>
                
              </tr>
              <tr>
                <td>Traditional healers</td>

                <td>{{ render_field(form.traditionallocation) }}</td>
                
                <td>
                  {{ render_field(form.traditionaldistance) }}
                </td>
                
                <td>{{ render_field(form.traditionaltrasnportnow) }}</td>
                
                <td>
                  {{ render_field(form.traditionalcostofreturntripnow) }}
                </td>
                
                <td>
                  {{ render_field(form.traditionaltraveltimenow) }}
                </td>

              </tr>
              <tr>
                <td>Mobile health team</td>

                <td>{{ render_field(form.mobilehealthteamlocation) }}</td>
                
                <td>
                  {{ render_field(form.mobilehealthteamdistance) }}
                </td>
                
                <td>{{ render_field(form.mobilehealthteamtrasnportnow) }}</td>
                
                <td>
                  {{ render_field(form.mobilehealthteamcostofreturntripnow) }}
                </td>

                <td>
                  {{ render_field(form.mobilehealthteamtraveltimenow) }}
                </td>
                
              </tr>
              <tr>
                <td>Other</td>

                <td>{{ render_field(form.otherfacilitylocation) }}</td>
                
                <td>
                  {{ render_field(form.otherfacilitydistance) }}
                </td>
                
                <td>{{ render_field(form.otherfacilitytrasnportnow) }}</td>
                
                <td>
                  {{ render_field(form.otherfacilitycostofreturntripnow) }}
                </td>
                
                <td>
                  {{ render_field(form.otherfacilitytraveltimenow) }}
                </td>
              </tr>
            </table>
            
            <h4><strong>Reasons to go to health facilities for treatment</strong></h4>
            <p><strong>35. What have been the biggest health problems in your family during the past 6 months?</strong></p>
            {{ form.biggestproblemsasthmanow() }} {{ form.biggestproblemsasthmanow.label }}
            {{ form.biggestproblemspneumonianow() }} {{ form.biggestproblemspneumonianow.label }}
            {{ form.biggestproblemscoughnow() }} {{ form.biggestproblemscoughnow.label }}
            {{ form.biggestproblemsflunow() }} {{ form.biggestproblemsflunow.label }}
            <br />
             {{ form.biggestproblemsfevernow() }} {{ form.biggestproblemsfevernow.label }} 
             {{ form.biggestproblemsbodyachesnow() }} {{ form.biggestproblemsbodyachesnow.label }} 
             {{ form.biggestproblemsheadachenow() }} {{ form.biggestproblemsheadachenow.label }} 
             {{ form.biggestproblemstbnow() }} {{ form.biggestproblemstbnow.label }}
            <br />
             {{ form.biggestproblemsmalarianow() }} {{ form.biggestproblemsmalarianow.label }} 
             {{ form.biggestproblemsdiarrheanow() }} {{ form.biggestproblemsdiarrheanow.label }} 
             {{ form.biggestproblemssoresnow() }} {{ form.biggestproblemssoresnow.label }} 
            <br />
             {{ render_field(form.biggestproblemsnowother) }}

            <p><strong>36. How many times have you and your family members had to visit clinics and/or see health sector staff <u>within the last year</u>?</strong></p>
            <table class="table table-bordered">
              <tr>
                <th>Health facility</th>
                <th>Adults</th>
                <th>Children</th>
              </tr>
              <tr>
                <td>Aid post</td>
                <td>
                  {{ render_field(form.fclinicaidpostadultrecent) }}
                </td>
                <td>
                  {{ render_field(form.fclinicaidpostchildrecent) }}
                </td>
              </tr>
              <tr>
                <td>Health centre</td>

                <td>
                  {{ render_field(form.fclinichealthcentreadultrecent) }}
                </td>
                <td>
                  {{ render_field(form.fclinichealthcentrechildrecent) }}
                </td>
              </tr>
              <tr>
                <td>Hospital</td>

                <td>
                  {{ render_field(form.fclinichospitaladultrecent) }}
                </td>
                <td>
                  {{ render_field(form.fclinichospitalchildrecent) }}
                </td>

              </tr>
              <tr>
                <td>Mobile health team</td>

                <td>
                  {{ render_field(form.fclinicmobilehealthteamadultrecent) }}
                </td>
                
                <td>
                  {{ render_field(form.fclinicmobilehealthteamchildrecent) }}
                </td>
                
              </tr>
              <tr>
                <td>Village health volunteers</td>

                <td>
                  {{ render_field(form.fclinicvolunteeradultrecent) }}
                </td>

                <td>
                  {{ render_field(form.fclinicvolunteerchildrecent) }}
                </td>
              </tr>
              <tr>
                <td>Traditional healers</td>

                <td>
                  {{ render_field(form.fclinictraditionaladultrecent) }}
                </td>
                
                <td>
                  {{ render_field(form.fclinictraditionalchildrecent) }}
                </td>
              </tr>
            </table>

            <h4><strong>Sanitation</strong></h4>
             {{ form.hhtoilet.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.hhtoilet %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.hhkindoftoilet.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.hhkindoftoilet %}
            <tr>
               {% if loop.index == 5 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />

            {{  form.hhkindoftoiletother.label  }} <br /> {{ form.hhkindoftoiletother(**{ "disabled":"disabled" }) }} <br />
             {{ form.hhmemberfacility.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.hhmemberfacility %}
            <tr>
               {% if loop.index == 4 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            
            {{  form.hhmemberfacilityother.label  }} <br /> {{ form.hhmemberfacilityother(**{ "disabled":"disabled" }) }} <br />

            <h4><strong>Access to education and location of schools</strong></h4>

            <p><strong>38. What school type do your children or any children of your household go to, how do they travel and how long does it take for the trip?</strong></p>
            <table class="table table-bordered">
              <tr>
                <th>School type</th>
                <th>Number of HH* children</th>
                <th>The location of the school facility <span class="normal-font">(name of the village)</span></th>
                <th>Main travel mode <span class="normal-font">(Mark only the most used one) (1) walking, (2) bus, (3) truck, (4) car</span></th>
                <th>Travel time from your home <span class="normal-font">(minutes)</span></th>
                <th>Travel cost of return trip <span class="normal-font">(K)</span></th>
                <th>Distance<span class="normal-font">(km)</span></th>
              </tr>
              <tr>
                <td>Elementary</td>
                <td>
                  {{ render_field(form.elementaryschoolnumberofchildren) }}<br />
                </td>
                
                <td>{{ render_field(form.elementaryschoollocation) }}</td>
                <td>{{ render_field(form.elementaryschooltransportnow) }}</td>

                <td>
                  {{ render_field(form.elementaryschooltraveltimenow) }}<br />
                </td>
                <td>
                  {{ render_field(form.elementaryschooltripcostnow) }}<br />
                </td>
                <td>
                  {{ render_field(form.elementaryschooldistance) }}<br />
                </td>
                
              </tr>
              <tr>
                <td>Lower primary</td>

                <td>
                  {{ render_field(form.lowerprimaryschoolnumberofchildren) }}<br />
                </td>
                
                <td>{{ render_field(form.lowerprimaryschoollocation) }}</td>
                <td>{{ render_field(form.lowerprimaryschooltransportnow) }}</td>

                <td>
                  {{ render_field(form.lowerprimaryschooltraveltimenow) }}<br />
                </td>

                <td>
                  {{ render_field(form.lowerprimaryschooltripcostnow) }}<br />
                </td>

                <td>
                  {{ render_field(form.lowerprimaryschooldistance) }}<br />
                </td>

              </tr>
              <tr>
                <td>Upper primary</td>

                <td>
                  {{ render_field(form.upperprimaryschoolnumberofchildren) }}<br />
                </td>
                
                <td>{{ render_field(form.upperprimaryschoollocation) }}</td>
                <td>{{ render_field(form.upperprimaryschooltransportnow) }}</td>

                <td>
                  {{ render_field(form.upperprimaryschooltraveltimenow) }}<br />
                </td>

                <td>
                  {{ render_field(form.upperprimaryschooltripcostnow) }}<br />
                </td>
                <td>
                  {{ render_field(form.upperprimaryschooldistance) }}<br />
                </td>
                
              </tr>
              <tr>
                <td>Secondary</td>

                <td>
                  {{ render_field(form.secondaryschoolnumberofchildren) }}<br />
                </td>
                
                <td>{{ render_field(form.secondaryschoollocation) }}</td>
                <td>{{ render_field(form.secondaryschooltransportnow) }}</td>

                <td>
                  {{ render_field(form.secondaryschooltraveltimenow) }}<br />
                </td>

                <td>
                  {{ render_field(form.secondaryschooltripcostnow) }}<br />
                </td>
                
                <td>
                  {{ render_field(form.secondaryschooldistance) }}<br />
                </td>

              </tr>
              <tr>
                <td>Other</td>
                <td>
                  {{ render_field(form.otherschoolnumberofchildren) }}<br />
                </td>
                <td>{{ render_field(form.otherschoollocation) }}</td>
                <td>{{ render_field(form.otherschooltransportnow) }}</td>
                <td>
                  {{ render_field(form.otherschooltraveltimenow) }}<br />
                </td>
                <td>
                  {{ render_field(form.otherschooltripcostnow) }}<br />
                </td>
                <td>
                  {{ render_field(form.otherschooldistance) }}<br />
                </td>

              </tr>
            </table>
            <p>HH* = household</p>
             {{ form.schoolagednotinschoolchildrennow.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.schoolagednotinschoolchildrennow %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.schoolagednotinschoolgirlsnow.label }} {{ form.schoolagednotinschoolgirlsnow(**{ "disabled":"disabled" }) }} {{ form.schoolagednotinschoolboysnow.label }} {{ form.schoolagednotinschoolboysnow(**{ "disabled":"disabled" }) }}<br />
            <div class="row">
              <div class="col-lg-offset-2 col-lg-3">
                {% if form.errors.schoolagednotinschoolboysnow %}
                  <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
              <div class="col-lg-3">
                {% if form.errors.schoolagednotinschoolgirlsnow %}
                  <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            {{ form.schoolagednotinschoolreasonnow.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.schoolagednotinschoolreasonnow %}
            {% if loop.index == 1 or loop.index == 6 or loop.index == 10 %}
            <br />
            {% endif %}
            <tr>
               {% if loop.index == 11 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{  form.schoolagednotinschoolreasonnowother.label  }} <br /> {{ form.schoolagednotinschoolreasonnowother(**{ "disabled":"disabled" }) }} <br />

            <!-- #41 -->
            <p><strong>41. Does your HH have school drop-outs?</strong></p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.dropoutsgirls.label }} {{ form.dropoutsgirls() }} {{ form.dropoutsboys.label }} {{ form.dropoutsboys() }}<br />

            <div class="row">
              <div class="col-lg-offset-2 col-lg-3">
                {% if form.errors.dropoutsgirls %}
                  <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
              <div class="col-lg-3">
                {% if form.errors.dropoutsboys %}
                  <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>

            {{ render_field(form.dropoutsreasonsbefore) }}

            <h4><strong>Income generation and household income</strong></h4>
            <p><strong>43. What are the businesses operated by this HH and the HH income per month? Please write the HH income per month and tick all types of businesses by men, women and children.</strong></p>
            <table class="table table-bordered">
              <tr>
                <th rowspan="2">Type of business</th>
                <th rowspan="2">Income per month</th>
                <th rowspan="2">How many HH members contribute to this business <br />By men </th>
                <th rowspan="2">By women</th>
                <th colspan="2">By children</th>
              </tr>
              <tr>
                <th>girls</th>
                <th>boys</th>
              </tr>
              <tr>
                <td>Transport</td>
                <td>{{ render_field(form.transportincomepermonth) }}</td>
                <td>{{ render_field(form.transportincontributemen) }}</td>
                <td>{{ render_field(form.transportincontributewomen) }}</td>
                <td>{{ render_field(form.transportincontributegirl) }}</td>
                <td>{{ render_field(form.transportincontributeboy) }}</td>
              </tr>
              <tr>
                <td>PMV operation</td>
                <td>{{ render_field(form.pmvoperationincomepermonth) }}</td>
                <td>{{ render_field(form.pmvoperationincontributemen) }}</td>
                <td>{{ render_field(form.pmvoperationincontributewomen) }}</td>
                <td>{{ render_field(form.pmvoperationincontributegirl) }}</td>
                <td>{{ render_field(form.pmvoperationincontributeboy) }}</td>
              </tr>
              <tr>
                <td>Trade store</td>
                <td>{{ render_field(form.tradestoreincomepermonth) }}</td>
                <td>{{ render_field(form.tradestoreincontributemen) }}</td>
                <td>{{ render_field(form.tradestoreincontributewomen) }}</td>
                <td>{{ render_field(form.tradestoreincontributegirl) }}</td>
                <td>{{ render_field(form.tradestoreincontributeboy) }}</td>
              </tr>
              <tr>
                <td>Minimarket</td>
                <td>{{ render_field(form.minimarketincomepermonth) }}</td>
                <td>{{ render_field(form.minimarketincontributemen) }}</td>
                <td>{{ render_field(form.minimarketincontributewomen) }}</td>
                <td>{{ render_field(form.minimarketincontributegirl) }}</td>
                <td>{{ render_field(form.minimarketincontributeboy) }}</td>
              </tr>
              <tr>
                <td>Fuel sale</td>
                <td>{{ render_field(form.fuelsaleincomepermonth) }}</td>
                <td>{{ render_field(form.fuelsaleincontributemen) }}</td>
                <td>{{ render_field(form.fuelsaleincontributewomen) }}</td>
                <td>{{ render_field(form.fuelsaleincontributegirl) }}</td>
                <td>{{ render_field(form.fuelsaleincontributeboy) }}</td>
              </tr>
              <tr>
                <td>Sales of garden food</td>
                <td>{{ render_field(form.salesgardenfoodincomepermonth) }}</td>
                <td>{{ render_field(form.salesgardenfoodincontributemen) }}</td>
                <td>{{ render_field(form.salesgardenfoodincontributewomen) }}</td>
                <td>{{ render_field(form.salesgardenfoodincontributegirl) }}</td>
                <td>{{ render_field(form.salesgardenfoodincontributeboy) }}</td>
              </tr>
              <tr>
                <td>Sales of livestock</td>
                <td>{{ render_field(form.saleslivestockincomepermonth) }}</td>
                <td>{{ render_field(form.saleslivestockincontributemen) }}</td>
                <td>{{ render_field(form.saleslivestockincontributewomen) }}</td>
                <td>{{ render_field(form.saleslivestockincontributegirl) }}</td>
                <td>{{ render_field(form.saleslivestockincontributeboy) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.othertypeofbusiness) }}</td>
                <td>{{ render_field(form.otherincomepermonth) }}</td>
                <td>{{ render_field(form.otherincontributemen) }}</td>
                <td>{{ render_field(form.otherincontributewomen) }}</td>
                <td>{{ render_field(form.otherincontributegirl) }}</td>
                <td>{{ render_field(form.otherincontributeboy) }}</td>
              </tr>

            </table>
            <p><strong>44. What are the other sources of income?</strong></p>
            <table class="table table-bordered">
              <tr>
                <th rowspan="3">Other sources of income</th>
                <th rowspan="3">Income per month</th>
                <th colspan="4">How many members contribute to this sector</th>
              </tr>
              <tr>
                <th rowspan="2">By men</th>
                <th rowspan="2">By women</th>
                <th colspan="2">By children</th>
              </tr>
              <tr>
                <th>girls</th>
                <th>boys</th>
              </tr>
              <tr>
                <td>Earnings on services such as contracts</td>
                <td>{{ render_field(form.earningsincomepermonth) }}</td>
                <td>
                  {{ render_field(form.earningsbymen) }}
                </td>
                <td>{{ render_field(form.earningsbywomen) }}</td>
                <td>
                  {{ render_field(form.earningsbychildrengirl) }}
                </td>
                <td>
                  {{ render_field(form.earningsbychildrenboy) }}
                </td>
              </tr>
              <tr>
                <td>Remittances (Please, specify the source)</td>
                <td>{{ render_field(form.remittancesincomepermonth) }}</td>
                <td>
                  {{ render_field(form.remittancesbymen) }}
                </td>
                <td>{{ render_field(form.remittancesbywomen) }}</td>
                <td>
                  {{ render_field(form.remittancesbychildrengirl) }}
                </td>
                <td>
                  {{ render_field(form.remittancesbychildrenboy) }}
                </td>
              </tr>
              <tr>
                <td>Employment (permanent & casual)</td>
                <td>{{ render_field(form.employmentincomepermonth) }}</td>
                <td>
                  {{ render_field(form.employmentbymen) }}
                </td>
                <td>{{ render_field(form.employmentbywomen) }}</td>
                <td>
                  {{ render_field(form.employmentbychildrengirl) }}
                </td>
                <td>
                  {{ render_field(form.employmentbychildrenboy) }}
                </td>
              </tr>
              <tr>
                <td>Royalties</td>
                <td>{{ render_field(form.royaltiesincomepermonth) }}</td>
                <td>
                  {{ render_field(form.royaltiesbymen) }}
                </td>
                <td>{{ render_field(form.royaltiesbywomen) }}</td>
                <td>
                  {{ render_field(form.royaltiesbychildrengirl) }}
                </td>
                <td>
                  {{ render_field(form.royaltiesbychildrenboy) }}
                </td>
              </tr>
              <tr>
                <td>Compensations</td>
                <td>{{ render_field(form.compensationsincomepermonth) }}</td>
                <td>
                  {{ render_field(form.compensationsbymen) }}
                </td>
                <td>{{ render_field(form.compensationsbywomen) }}</td>
                <td>
                  {{ render_field(form.compensationsbychildrengirl) }}
                </td>
                <td>
                  {{ render_field(form.compensationsbychildrenboy) }}
                </td>
              </tr>
            </table>
             

            <h4><strong>Self-sufficiency and bought food items and their price development</strong></h4>
            
            {{ form.selfsuffientnow.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.selfsuffientnow %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.howdmanydaysfoodsupplies.label }} &nbsp;&nbsp;&nbsp;<br />{% for subfield in form.howdmanydaysfoodsupplies %} 
            <tr>
               {% if loop.index == 6 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.howdmanydaysfoodsuppliesother.label }} <br />{{ form.howdmanydaysfoodsuppliesother(**{ "disabled": "disabled" }) }}<br />
            
            {{ render_field(form.foodsupplyestimation) }}
            <p><strong>47. Can you estimate how big is the share of your diet?</strong></p>
            <strong>Bought from outside home {{ form.boughtfromoutsidehome() }}%, coming from home production? {{ form.comefromhomeproduction() }}%</strong>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.boughtfromoutsidehome %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.comefromhomeproduction %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <h4><strong>Household expenditure</strong></h4>
            <p><strong>48. Can you estimate how much does your family spend on the following items?</strong></p>
            <table class="table table-bordered">
              <tr>
                <th>Expenditure</th>
                <th>How much per month? <br/><span class="normal-font">(Kina)</span></th>
                <th>Per year? <br/><span class="normal-font">(Kina)</span></th>
              </tr>
              <tr>
                <td><b>Goods and services:</b> <br/>Personal care items (soap, shampoo, toothpaste, razor, shaving cream etc.)</td>
                <td>{{ render_field(form.personalcareitemshowmuchpermonth) }}</td>
                <td>{{ render_field(form.personalcareitemsperyear) }}</td>
              </tr>
              <tr>
                <td>House cleaning supplies and toilet supplies</td>
                <td>{{ render_field(form.housetoilethowmuchpermonth) }}</td>
                <td>{{ render_field(form.housetoiletperyear) }}</td>
              </tr>
              <tr>
                <td>Health & medicine</td>
                <td>{{ render_field(form.healthmedicinehowmuchpermonth) }}</td>
                <td>{{ render_field(form.healthmedicineperyear) }}</td>
              </tr>
              <tr>
                <td>School fees, textbooks/photocopy of textbooks, stationery/shoes</td>
                <td>{{ render_field(form.schoolfeehowmuchpermonth) }}</td>
                <td>{{ render_field(form.schoolfeeperyear) }}</td>
              </tr>
              <tr>
                <td>Phone cards: Mobile (flex, prepaid) or fixed line telephone (telikad, prepaid)</td>
                <td>{{ render_field(form.phonecardhowmuchpermonth) }}</td>
                <td>{{ render_field(form.phonecardperyear) }}</td>
              </tr>
              <tr>
                <td>Maintenance and repair, registration and insurance of motor vehicle (do not include business vehicle)</td>
                <td>{{ render_field(form.maintenancehowmuchpermonth) }}</td>
                <td>{{ render_field(form.maintenanceperyear) }}</td>
              </tr>
              <tr>
                <td>Petrol and oil for motor vehicle (include motor cycles do not include used for business vehicle)</td>
                <td>{{ render_field(form.petroloilhowmuchpermonth) }}</td>
                <td>{{ render_field(form.petroloilperyear) }}</td>
              </tr>
              <tr>
                <td>Costs of other transportation (bus, taxi, goods, etc.)</td>
                <td>{{ render_field(form.transportationhowmuchpermonth) }}</td>
                <td>{{ render_field(form.transportationperyear) }}</td>
              </tr>
              <tr>
                <td><b>Clothing:</b> <br/>Ready made man’s wear and footwear</td>
                <td>{{ render_field(form.readymademanhowmuchpermonth) }}</td>
                <td>{{ render_field(form.readymademanperyear) }}</td>
              </tr>
              <tr>
                <td>Ready made woman’s wear and footwear</td>
                <td>{{ render_field(form.readymadewomanhowmuchpermonth) }}</td>
                <td>{{ render_field(form.readymadewomanperyear) }}</td>
              </tr>
              <tr>
                <td>Ready made children’s clothing and footwear</td>
                <td>{{ render_field(form.readymadechildrenhowmuchpermonth) }}</td>
                <td>{{ render_field(form.readymadechildrenperyear) }}</td>
              </tr>
              <tr>
                <td>Materials/fabrics for clothes, tailoring and repair costs</td>
                <td>{{ render_field(form.materialfabrichowmuchpermonth) }}</td>
                <td>{{ render_field(form.materialfabricperyear) }}</td>
              </tr>
              <tr>
                <td><b>Durable goods:</b> <br/>Furniture (bed, table, chair, wardrobe, etc.)</td>
                <td>{{ render_field(form.furniturehowmuchpermonth) }}</td>
                <td>{{ render_field(form.furnitureperyear) }}</td>
              </tr>
              <tr>
                <td>Household equipment (toaster, jug, rice cooker, iron, hair trimmer, etc.) and linens (bed clothing)</td>
                <td>{{ render_field(form.equipmenthowmuchpermonth) }}</td>
                <td>{{ render_field(form.equipmentperyear) }}</td>
              </tr>
              <tr>
                <td>Small electrical items (watch, clock, camera, video camera, etc.) and TV, video, cassette, computer, etc. and their repair</td>
                <td>{{ render_field(form.electricalitemhowmuchpermonth) }}</td>
                <td>{{ render_field(form.electricalitemperyear) }}</td>
              </tr>
              <tr>
                <td>Food (grain, pulses, meat, fish, eggs, fruits, vegetables, oil, sugar)</td>
                <td>{{ render_field(form.foodhowmuchpermonth) }}</td>
                <td>{{ render_field(form.foodperyear) }}</td>
              </tr>
              <tr>
                <td>Agricultural inputs (seeds, planting material, tools, spray, fertilizer, etc.)</td>
                <td>{{ render_field(form.agriculturehowmuchpermonth) }}</td>
                <td>{{ render_field(form.agricultureperyear) }}</td>
              </tr>
              <tr>
                <td>Kerosene, candles</td>
                <td>{{ render_field(form.kerosenehowmuchpermonth) }}</td>
                <td>{{ render_field(form.keroseneperyear) }}</td>
              </tr>
              <tr>
                <td>Taxes and insurances (water, power)</td>
                <td>{{ render_field(form.taxhowmuchpermonth) }}</td>
                <td>{{ render_field(form.taxperyear) }}</td>
              </tr>
              <tr>
                <td>Festivities and ceremonies (marriages, births, dowry or bride price, religious festivals, funeral expenses)</td>
                <td>{{ render_field(form.festivitieshowmuchpermonth) }}</td>
                <td>{{ render_field(form.festivitiesperyear) }}</td>
              </tr>
              <tr>
                <td><b>Others (social and religious):</b> <br/>Donations</td>
                <td>{{ render_field(form.donationhowmuchpermonth) }}</td>
                <td>{{ render_field(form.donationperyear) }}</td>
              </tr>
              <tr>
                <td>Deposits to savings accounts</td>
                <td>{{ render_field(form.deposithowmuchpermonth) }}</td>
                <td>{{ render_field(form.depositperyear) }}</td>
              </tr>
              <tr>
                <td>Legal and compensation costs (lawyer, compensation paid, court fees, etc.)</td>
                <td>{{ render_field(form.legalcompenhowmuchpermonth) }}</td>
                <td>{{ render_field(form.legalcompenperyear) }}</td>
              </tr>
              <tr>
                <td>House repair</td>
                <td>{{ render_field(form.houserepairhowmuchpermonth) }}</td>
                <td>{{ render_field(form.houserepairperyear) }}</td>
              </tr>
              <tr>
                <td>Lightning costs</td>
                <td>{{ render_field(form.lightninghowmuchpermonth) }}</td>
                <td>{{ render_field(form.lightningperyear) }}</td>
              </tr>
              <tr>
                <td>Cooking cost (gas, fuel wood, kerosene)</td>
                <td>{{ render_field(form.cookinghowmuchpermonth) }}</td>
                <td>{{ render_field(form.cookingperyear) }}</td>
              </tr>
              <tr>
                <td>Others, specify</td>
                <td>{{ render_field(form.otherhowmuchpermonth) }}</td>
                <td>{{ render_field(form.otherperyear) }}</td>
              </tr>
            </table>

            <h4><strong>Perception on poverty and food insufficiency in the village</strong></h4>

            {{ form.hhclassification.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.hhclassification %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ render_field(form.hhclassificationreasons) }}
            {{ form.villageclassification.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.villageclassification %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            &nbsp;&nbsp;&nbsp;<strong>when compared with others in this area?</strong>
            <br />
            {{ render_field(form.describestrugglingfamilyvillage) }}
            
            <h4><strong>Environment</strong></h4>
            <h4><strong><i>Part 1: Noise</i></strong></h4>
            {{ form.trafficnoiselevel.label }} &nbsp;&nbsp;&nbsp;<br/>{% for subfield in form.trafficnoiselevel %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %} <br/>
            {{ form.sleepdisturbancefromnoise.label }} &nbsp;&nbsp;&nbsp;<br/>{% for subfield in form.sleepdisturbancefromnoise %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %} <br/>
            {{ form.howlongliveinhouse.label }} {{ form.howlongliveinhouse() }} <br/>
            <div class="row">
              <div class="col-lg-offset-6 col-lg-3">
                {% if form.errors.howlongliveinhouse %}
                <span style="color:red">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            <p><strong>56. What are the major sources of noise pollution in your area? Rank them in order.</strong></p>
            {{ form.sourceofnoisepollution1.label }} {{ form.sourceofnoisepollution1() }} <br />
            {{ form.sourceofnoisepollution2.label }} {{ form.sourceofnoisepollution2() }} <br />
            {{ form.sourceofnoisepollution3.label }} {{ form.sourceofnoisepollution3() }} <br />

            {{ form.noisedisturbancetime.label }} &nbsp;&nbsp;&nbsp;<br/>{% for subfield in form.noisedisturbancetime %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br/>

            <h4><strong><i>Part 2: Soil</i></strong></h4>
            {{ render_field(form.mainreasonforsoilerosion) }}
             {{ form.havesoilerosion.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.havesoilerosion %}
            <tr>
               {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.reasonforerosion.label }} <br />{{ form.reasonforerosion(**{ "disabled": "disabled" }) }}<br />

            <h4><strong><i>Part 3: Water</i></strong></h4>
            {{ form.accesstocleanwater.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.accesstocleanwater %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %} <br/>
            {{ form.getdrinkingwater.label }} {{ form.getdrinkingwater() }} <br/>
            <p><strong>62. Please state the quality and adequacy of river and creek water by rainy and dry season.</strong></p>
            <table class="table table-bordered">
              <tr>
                <th rowspan="2">Water source</th>
                <th colspan="2">Quality <br/><span class="normal-font"> (1) good, (2) some contamination, (3) very contaminated</span></th>
                <th colspan="2">Adequacy by seasons <br/><span class="normal-font"> (1) good, (2) moderate, (3) scarce</span></th>
              </tr>
              <tr>
                <th>rainy</th>
                <th>dry</th>
                <th>rainy</th>
                <th>dry</th>
              </tr>
              <tr>
                <td>River water</td>
                <td>{{ render_field(form.riverwaterqualityrainy) }}<br /></td>
                <td>{{ render_field(form.riverwaterqualitydry) }}<br /></td>
                <td>{{ render_field(form.riverwateradequacyrainy) }}<br /></td>
                <td>{{ render_field(form.riverwateradequacydry) }}<br /></td>
              </tr>
              <tr>
                <td>Creek water</td>
                <td>{{ render_field(form.creekwaterqualityrainy) }}<br /></td>
                <td>{{ render_field(form.creekwaterqualitydry) }}<br /></td>
                <td>{{ render_field(form.creekwateradequacyrainy) }}<br /></td>
                <td>{{ render_field(form.creekwateradequacydry) }}<br /></td>
              </tr>
            </table>
            {{ render_field(form.mainreasonaffectiontoquality) }}

            <h4><strong><i>Part 4: Air</i></strong></h4>
            {{ form.accesestoairquality.label }} &nbsp;&nbsp;&nbsp;<br/>{% for subfield in form.accesestoairquality %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br/>
            <p><strong>65. In your opinion, which are the three major sources of air pollution in your area? Rank them in order from highest to the lowest.</strong></p>
            {{ form.sourceofairpollution1.label }} {{ form.sourceofairpollution1() }} <br />
            {{ form.sourceofairpollution2.label }} {{ form.sourceofairpollution2() }} <br />
            {{ form.sourceofairpollution3.label }} {{ form.sourceofairpollution3() }} <br />
            {{ form.trafficmovementproducedust.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.trafficmovementproducedust %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.dustlevelofroad.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.dustlevelofroad %}
            <tr>
              <td>{{ subfield(**{ "disabled":"disabled" }) }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.airpollutioncausehealth.label }} &nbsp;&nbsp;&nbsp;<br/>{% for subfield in form.airpollutioncausehealth %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br/>

            {{ form.airpollutionwhichproblem.label }} {{ form.airpollutionwhichproblem() }}
            <br/>
            {{ render_field(form.additionalcommentonairquality) }}

            <h4><strong>Part 4: Natural Environment</strong></h4>          
            {{ form.changeinroadsidevegetation.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.changeinroadsidevegetation %} 
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />

            {{ form.changeinroadsidevegetationreasons.label }}  <br />{{ form.changeinroadsidevegetationreasons(**{ "disabled":"disabled"
            }) }}
            <br />

            {{ form.changeinwildanimal.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.changeinwildanimal %} 
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />

            {{ form.changeinwildanimalreasons.label }}  <br />{{ form.changeinwildanimalreasons(**{ "disabled":"disabled"
            }) }}
            <br />
            {{ form.humanactivitiesincreased.label }} &nbsp;&nbsp;&nbsp;<br/>{% for subfield in form.humanactivitiesincreased %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br/>
            {{ render_field(form.kindofhumanactivities) }}

            <h4><strong>Road maintenance and safety</strong></h4>
            <h4><strong>Condition of the road</strong></h4>
            {{ form.roadconditionnow.label }} {{ form.roadconditionnow() }}<br />
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.roadconditionnow %}
                <span style="color:red">Invalid Value - Must be Integer from 0 to 5</span>
                {% endif %}
              </div>
            </div>
            <h4><strong>Road maintenance</strong></h4>
            {{ form.roadmaintenancenow.label }} {{ form.roadmaintenancenow() }}<br />
            <div class="row">
              <div class="col-lg-3">
                {% if form.errors.roadmaintenancenow %}
                <span style="color:red">Invalid Value - Must be Integer from 0 to 5</span>
                {% endif %}
              </div>
            </div>

            {{ form.communitymaintenance.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.communitymaintenance %}
            <tr>
              <td>{{ subfield }}</td>
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.paidmaintenance.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.paidmaintenance %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.whopaymaintenance.label }} {{ form.whopaymaintenance(**{ "disabled":"disabled" }) }}<br />

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.frequencyofmaintenance.label }} {{ form.frequencyofmaintenance() }}<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.womenworkonroadmaintenance.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.womenworkonroadmaintenance %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.howmanywomenmaintain.label }} {{ form.howmanywomenmaintain(**{ "disabled":"disabled" }) }}<br />
            <br /><br /><br /><br /><br />
            <p><strong><i>THANK THE RESPODENT FOR HIS/HERS TIME!</i></strong></p>
            <h4><strong><i>REVIEW AND CHECK THAT ALL QUESTIONS HAVE BEEN ANSWERED, IF NOT, GO BACK AND ASK THE NON-ANSWERED QUESTIONS TO FILL IN BLANK SPACES!</i></strong></h4>
          </fieldset>
          </div>
          <fieldset>
            <legend>Final Steps</legend>
            {{ render_field(form.comments) }}
            {{ render_field(form.confirmation) }}
          </fieldset>
          <br/>
          <br/>
          <div class="container form-group">
            {{ form.submit() }}
          </div>
            {{ form.hidden_tag() }}
        </form>
    </div>
{% endblock %}
