{% extends "base.html" %}

{% from "macro.html" import render_field %}

{% block title %}Home{% endblock %}


{% block content %}


<div class="container">
   {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>
      <h3 style="color: green">{{ message }}</h3>
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <h2>Welcome! Please select a questionnaire:</h2>
  <a href="{{ url_for('householdsurvey') }}"><h3>Household Survey Questionnaire</h3></a>
  <a href="{{ url_for('pmv') }}"><h3>Questionnaire for PMV Operators</h3></a>
  <a href="{{ url_for('fsv_women') }}"><h3>FSV Women</h3></a>
  <a href="{{ url_for('fsv_men') }}"><h3>FSV Men</h3></a>
  <a href="{{ url_for('finaltradestore') }}"><h3>Questionnaire for Final Trade Store</h3></a>
  <a href="{{ url_for('key_informant') }}"><h3>Questionnaire for Key Informant</h3></a>

</div>
{% endblock %}
