{% extends "base.html" %}

{% from "macro.html" import render_field %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="container">
  <h3 style="color: green">Survey submitted!</h3>
  <h2>Welcome! Please select a questionnaire:</h2>
  <a href="{{ url_for('householdsurvey') }}"><h3>Household Survey Questionnaire</h3></a>
  <a href="{{ url_for('pmv') }}"><h3>Questionnaire for PMV Operators</h3></a>
  <a href="{{ url_for('fsv_women') }}"><h3>FSV Women</h3></a>
  <a href="{{ url_for('fsv_men') }}"><h3>FSV Men</h3></a>

</div>
{% endblock %}
