{% extends "base.html" %} {% from "macro.html" import render_field %} {% from "macro.html" import render_field_new %} {%
block styles %} {{ super() }}
<script type="text/javascript">
    function closeEditorWarning() {
        return 'Do you want to leave this page?'
    }
    function otherFocus(element) {
        document.getElementById(element).checked = true;
    }
</script> 
{% endblock %} 
{% block title %}Survey: Final Trade Store{% endblock %} 
{% block content %}
<div class="container">
    {% if form.errors %}
    <div class="form-group">
        <h4 style="color: red">There are errors in your entry. Please check and try again.</h4>
    </div>
    {% endif %}
    <h4><center>Additional Questions on Social Services on HRRIIP Project Roads Tranche3</center></h4>
    <p>
       <strong><i>Two health facilities and two school types <u>per road</u> need to be visited by the team to collect service level data</i></strong>
    </p>
    <p><strong>Health services</strong></p>
    <form method="POST" action="/key-informant">
        {{ form.csrf_token }}
        <div class="well well-sm">
            {{ form.hidden_tag() }}
            <table class="table table-bordered">
              <tr>
                <th rowspan="2">Health service type</th>
                <th rowspan="2">Names of health services</th>
                <th rowspan="2">Number of health facilities</th>
                <th colspan="2" style="width: 12%;">#’s according to <br />position</th>
                <th colspan="2" style="width: 12%;">#’s according to <br />position</th>
                <th colspan="2" style="width: 8%;">Gender</th>
                <th colspan="2" style="width: 10%;"># of patients for last 6 months</th>
                <th rowspan="2" style="width: 20%;">Type of the health facility building <br /><span class="normal-font">(1) permanent, <br />(2) semi-permanent, <br />(3) impoverished material</span></th>
                <th rowspan="2" style="width: 18%;">Electricity <br /><span class="normal-font">(1) national grid (PPL), <br />(2) own generator</span></th>
              </tr>
              <tr>
                <th>Doctors</th>
                <th>Nurses</th>
                <th>HEOs</th>
                <th>CHWs</th>
                <th>M</th>
                <th>F</th>
                <th>M</th>
                <th>F</th>
              </tr>
              <tr>
                <td>Aid Post</td>
                <td>{{ render_field(form.aidposthealthservice) }}</td>
                <td>{{ render_field(form.aidposthealthfacility) }}</td>
                <td>{{ render_field(form.aidpostpositiondoctors) }}</td>
                <td>{{ render_field(form.aidpostpositionnurses) }}</td>
                <td>{{ render_field(form.aidpostpositionheos) }}</td>
                <td>{{ render_field(form.aidpostpositionchws) }}</td>
                <td>{{ render_field(form.aidpostgenderm) }}</td>
                <td>{{ render_field(form.aidpostgenderf) }}</td>
                <td>{{ render_field(form.aidpostpatientsm) }}</td>
                <td>{{ render_field(form.aidpostpatientsf) }}</td>
                <td>
                    {{ render_field(form.aidpostfacilitybuilding) }}
                </td>
                <td>{{ render_field(form.aidpostelectricity) }}</td>
              </tr>
              <tr>
                <td>Health Centres</td>
                <td>{{ render_field(form.healthcenterhealthservice) }}</td>
                <td>{{ render_field(form.healthcenterhealthfacility) }}</td>
                <td>{{ render_field(form.healthcenterpositiondoctors) }}</td>
                <td>{{ render_field(form.healthcenterpositionnurses) }}</td>
                <td>{{ render_field(form.healthcenterpositionheos) }}</td>
                <td>{{ render_field(form.healthcenterpositionchws) }}</td>
                <td>{{ render_field(form.healthcentergenderm) }}</td>
                <td>{{ render_field(form.healthcentergenderf) }}</td>
                <td>{{ render_field(form.healthcenterpatientsm) }}</td>
                <td>{{ render_field(form.healthcenterpatientsf) }}</td>
                <td>
                    {{ render_field(form.healthcenterfacilitybuilding) }}
                </td>
                <td>{{ render_field(form.healthcenterelectricity) }}</td>
              </tr>
              <tr>
                <td>Hospitals</td>
                <td>{{ render_field(form.hospitalhealthservice) }}</td>
                <td>{{ render_field(form.hospitalhealthfacility) }}</td>
                <td>{{ render_field(form.hospitalpositiondoctors) }}</td>
                <td>{{ render_field(form.hospitalpositionnurses) }}</td>
                <td>{{ render_field(form.hospitalpositionheos) }}</td>
                <td>{{ render_field(form.hospitalpositionchws) }}</td>
                <td>{{ render_field(form.hospitalgenderm) }}</td>
                <td>{{ render_field(form.hospitalgenderf) }}</td>
                <td>{{ render_field(form.hospitalpatientsm) }}</td>
                <td>{{ render_field(form.hospitalpatientsf) }}</td>
                <td>
                    {{ render_field(form.hospitalfacilitybuilding) }}
                </td>
                <td>{{ render_field(form.hospitalelectricity) }}</td>
              </tr>
              <tr>
                <td>Church Run</td>
                <td>{{ render_field(form.churchhealthservice) }}</td>
                <td>{{ render_field(form.churchhealthfacility) }}</td>
                <td>{{ render_field(form.churchpositiondoctors) }}</td>
                <td>{{ render_field(form.churchpositionnurses) }}</td>
                <td>{{ render_field(form.churchpositionheos) }}</td>
                <td>{{ render_field(form.churchpositionchws) }}</td>
                <td>{{ render_field(form.churchgenderm) }}</td>
                <td>{{ render_field(form.churchgenderf) }}</td>
                <td>{{ render_field(form.churchpatientsm) }}</td>
                <td>{{ render_field(form.churchpatientsf) }}</td>
                <td>
                    {{ render_field(form.churchfacilitybuilding) }}
                </td>
                <td>{{ render_field(form.churchelectricity) }}</td>
              </tr>
              <tr>
                <td>Total # of health facilities along the full-road length of this project road</td>
                <td>{{ render_field(form.totalhealthservice) }}</td>
                <td>{{ render_field(form.totalhealthfacility) }}</td>
                <td>{{ render_field(form.totalpositiondoctors) }}</td>
                <td>{{ render_field(form.totalpositionnurses) }}</td>
                <td>{{ render_field(form.totalpositionheos) }}</td>
                <td>{{ render_field(form.totalpositionchws) }}</td>
                <td>{{ render_field(form.totalgenderm) }}</td>
                <td>{{ render_field(form.totalgenderf) }}</td>
                <td>{{ render_field(form.totalpatientsm) }}</td>
                <td>{{ render_field(form.totalpatientsf) }}</td>
                <td>
                    {{ render_field(form.totalfacilitybuilding) }}
                </td>
                <td>{{ render_field(form.totalelectricity) }}</td>
              </tr>
            </table>

            <table class="table table-bordered">
              <tr>
                <th>Sickness type</th>
                <th># of patients treated by sickness type</th>
              </tr>
              <tr>
                <td>asthma</td>
                <td>{{ render_field(form.asthmatype) }}</td>
              </tr>
              <tr>
                <td>pneumonia</td>
                <td>{{ render_field(form.pneumoniatype) }}</td>
              </tr>
              <tr>
                <td>cough</td>
                <td>{{ render_field(form.coughtype) }}</td>
              </tr>
              <tr>
                <td>flu</td>
                <td>{{ render_field(form.flutype) }}</td>
              </tr>
              <tr>
                <td>fever</td>
                <td>{{ render_field(form.fevertype) }}</td>
              </tr>
              <tr>
                <td>body aches</td>
                <td>{{ render_field(form.bodyachestype) }}</td>
              </tr>
              <tr>
                <td>head ache</td>
                <td>{{ render_field(form.headachetype) }}</td>
              </tr>
              <tr>
                <td>tuberculosis</td>
                <td>{{ render_field(form.tuberculosistype) }}</td>
              </tr>
              <tr>
                <td>malaria</td>
                <td>{{ render_field(form.malariatype) }}</td>
              </tr>
              <tr>
                <td>diarrea</td>
                <td>{{ render_field(form.diarreatype) }}</td>
              </tr>
              <tr>
                <td>sores</td>
                <td>{{ render_field(form.sorestype) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.othertype) }}</td>
                <td>{{ render_field(form.othertypenumber) }}</td>
              </tr>
            </table>

            <p><strong>Education</strong></p>
            <p><i>For 2 classes, collect data for school attendance for boys and girls for few months which are to represent agricultural season, dry and wet seasons</i></p>

            <table class="table table-bordered">
              <tr>
                <th rowspan="2">Elementary, Upper and Lower Primary’s</th>
                <th rowspan="2" style="width: 7%">Number of school facilities</th>
                <th colspan="2" style="width: 7%"># of teachers</th>
                <th rowspan="2" style="width: 7%"># of grades</th>
                <th colspan="2" style="width: 7%"># of students</th>
                <th colspan="2" style="width: 12%">Students Attendance for class 1 for few months which are to represent agricultural season, dry (A) and wet (B) seasons</th>
                <th colspan="2" style="width: 12%">Students Attendance for class 2 for few months which are to represent agricultural season, dry (A) and wet seasons (B) </th>
                <th rowspan="2" style="width: 20%">Type of the school building <br /><span class="normal-font">(1) permanent, <br />(2) semi-permanent, <br />(3) impoverished material</span></th>
                <th rowspan="2" style="width: 18%">Electricity <br /><span class="normal-font">(1) national grid (PPL), <br />(2) own generator</span></th>
              </tr>
              <tr>
                <th>F</th>
                <th>M</th>
                <th>F</th>
                <th>M</th>
                <th>F</th>
                <th>M</th>
                <th>F</th>
                <th>M</th>
              </tr>
              <tr>
                <td>Elementary Prep</td>
                <td>{{ render_field(form.eleprepnumberschoolfacility) }}</td>
                <td>{{ render_field(form.eleprepnumberteachersfemale) }}</td>
                <td>{{ render_field(form.eleprepnumberteachersmale) }}</td>
                <td>{{ render_field(form.eleprepnumbergrades) }}</td>
                <td>{{ render_field(form.eleprepnumberstudentsfemale) }}</td>
                <td>{{ render_field(form.eleprepnumberstudentsmale) }}</td>
                <td>{{ render_field(form.eleprepclass1female) }}</td>
                <td>{{ render_field(form.eleprepclass1male) }}</td>
                <td>{{ render_field(form.eleprepclass2female) }}</td>
                <td>{{ render_field(form.eleprepclass2male) }}</td>
                <td>{{ render_field(form.eleprepschoolbuilding) }}</td>
                <td>{{ render_field(form.eleprepelectricity) }}</td>
              </tr>
              <tr>
                <td>Elementary One</td>
                <td>{{ render_field(form.eleonenumberschoolfacility) }}</td>
                <td>{{ render_field(form.eleonenumberteachersfemale) }}</td>
                <td>{{ render_field(form.eleonenumberteachersmale) }}</td>
                <td>{{ render_field(form.eleonenumbergrades) }}</td>
                <td>{{ render_field(form.eleonenumberstudentsfemale) }}</td>
                <td>{{ render_field(form.eleonenumberstudentsmale) }}</td>
                <td>{{ render_field(form.eleoneclass1female) }}</td>
                <td>{{ render_field(form.eleoneclass1male) }}</td>
                <td>{{ render_field(form.eleoneclass2female) }}</td>
                <td>{{ render_field(form.eleoneclass2male) }}</td>
                <td>{{ render_field(form.eleoneschoolbuilding) }}</td>
                <td>{{ render_field(form.eleoneelectricity) }}</td>
              </tr>
              <tr>
                <td>Grade 3</td>
                <td>{{ render_field(form.grade3numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade3numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade3numberteachersmale) }}</td>
                <td>{{ render_field(form.grade3numbergrades) }}</td>
                <td>{{ render_field(form.grade3numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade3numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade3class1female) }}</td>
                <td>{{ render_field(form.grade3class1male) }}</td>
                <td>{{ render_field(form.grade3class2female) }}</td>
                <td>{{ render_field(form.grade3class2male) }}</td>
                <td>{{ render_field(form.grade3schoolbuilding) }}</td>
                <td>{{ render_field(form.grade3electricity) }}</td>
              </tr>
              <tr>
                <td>Grade 4</td>
                <td>{{ render_field(form.grade4numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade4numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade4numberteachersmale) }}</td>
                <td>{{ render_field(form.grade4numbergrades) }}</td>
                <td>{{ render_field(form.grade4numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade4numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade4class1female) }}</td>
                <td>{{ render_field(form.grade4class1male) }}</td>
                <td>{{ render_field(form.grade4class2female) }}</td>
                <td>{{ render_field(form.grade4class2male) }}</td>
                <td>{{ render_field(form.grade4schoolbuilding) }}</td>
                <td>{{ render_field(form.grade4electricity) }}</td>
              </tr>
              <tr>
                <td>Grade 5</td>
                <td>{{ render_field(form.grade5numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade5numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade5numberteachersmale) }}</td>
                <td>{{ render_field(form.grade5numbergrades) }}</td>
                <td>{{ render_field(form.grade5numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade5numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade5class1female) }}</td>
                <td>{{ render_field(form.grade5class1male) }}</td>
                <td>{{ render_field(form.grade5class2female) }}</td>
                <td>{{ render_field(form.grade5class2male) }}</td>
                <td>{{ render_field(form.grade5schoolbuilding) }}</td>
                <td>{{ render_field(form.grade5electricity) }}</td>
              </tr>
              <tr>
                <td>Grade 6</td>
                <td>{{ render_field(form.grade6numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade6numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade6numberteachersmale) }}</td>
                <td>{{ render_field(form.grade6numbergrades) }}</td>
                <td>{{ render_field(form.grade6numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade6numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade6class1female) }}</td>
                <td>{{ render_field(form.grade6class1male) }}</td>
                <td>{{ render_field(form.grade6class2female) }}</td>
                <td>{{ render_field(form.grade6class2male) }}</td>
                <td>{{ render_field(form.grade6schoolbuilding) }}</td>
                <td>{{ render_field(form.grade6electricity) }}</td>
              </tr>
              <tr>
                <td>Grade 7</td>
                <td>{{ render_field(form.grade7numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade7numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade7numberteachersmale) }}</td>
                <td>{{ render_field(form.grade7numbergrades) }}</td>
                <td>{{ render_field(form.grade7numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade7numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade7class1female) }}</td>
                <td>{{ render_field(form.grade7class1male) }}</td>
                <td>{{ render_field(form.grade7class2female) }}</td>
                <td>{{ render_field(form.grade7class2male) }}</td>
                <td>{{ render_field(form.grade7schoolbuilding) }}</td>
                <td>{{ render_field(form.grade7electricity) }}</td>
              </tr>
              <tr>
                <td>Grade 8</td>
                <td>{{ render_field(form.grade8numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade8numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade8numberteachersmale) }}</td>
                <td>{{ render_field(form.grade8numbergrades) }}</td>
                <td>{{ render_field(form.grade8numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade8numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade8class1female) }}</td>
                <td>{{ render_field(form.grade8class1male) }}</td>
                <td>{{ render_field(form.grade8class2female) }}</td>
                <td>{{ render_field(form.grade8class2male) }}</td>
                <td>{{ render_field(form.grade8schoolbuilding) }}</td>
                <td>{{ render_field(form.grade8electricity) }}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>{{ render_field(form.totalnumberschoolfacility) }}</td>
                <td>{{ render_field(form.totalnumberteachersfemale) }}</td>
                <td>{{ render_field(form.totalnumberteachersmale) }}</td>
                <td>{{ render_field(form.totalnumbergrades) }}</td>
                <td>{{ render_field(form.totalnumberstudentsfemale) }}</td>
                <td>{{ render_field(form.totalnumberstudentsmale) }}</td>
                <td>{{ render_field(form.totalclass1female) }}</td>
                <td>{{ render_field(form.totalclass1male) }}</td>
                <td>{{ render_field(form.totalclass2female) }}</td>
                <td>{{ render_field(form.totalclass2male) }}</td>
                <td>{{ render_field(form.totalschoolbuilding) }}</td>
                <td>{{ render_field(form.totalelectricity) }}</td>
              </tr>
            </table>

            <table class="table table-bordered">
              <tr>
                <th rowspan="2">High School and Secondary</th>
                <th rowspan="2" style="width: 7%">Number of school facilities</th>
                <th colspan="2" style="width: 7%"># of teachers</th>
                <th rowspan="2" style="width: 7%"># of grades</th>
                <th colspan="2" style="width: 7%"># of students</th>
                <th colspan="2" style="width: 12%">Students Attendance for class 1 for few months which are to represent agricultural season, dry (A) and wet (B) seasons</th>
                <th colspan="2" style="width: 12%">Students Attendance for class 2 for few months which are to represent agricultural season, dry (A) and wet seasons (B) </th>
                <th rowspan="2" style="width: 20%">Type of the school building <br /><span class="normal-font">(1) permanent, <br />(2) semi-permanent, <br />(3) impoverished material</span></th>
                <th rowspan="2" style="width: 18%">Electricity <br /><span class="normal-font">(1) national grid (PPL), <br />(2) own generator</span></th>
              </tr>
              <tr>
                <th>F</th>
                <th>M</th>
                <th>F</th>
                <th>M</th>
                <th>F</th>
                <th>M</th>
                <th>F</th>
                <th>M</th>
              </tr>
              <tr>
                <td>Grade 9</td>
                <td>{{ render_field(form.grade9numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade9numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade9numberteachersmale) }}</td>
                <td>{{ render_field(form.grade9numbergrades) }}</td>
                <td>{{ render_field(form.grade9numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade9numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade9class1female) }}</td>
                <td>{{ render_field(form.grade9class1male) }}</td>
                <td>{{ render_field(form.grade9class2female) }}</td>
                <td>{{ render_field(form.grade9class2male) }}</td>
                <td>{{ render_field(form.grade9schoolbuilding) }}</td>
                <td>{{ render_field(form.grade9electricity) }}</td>
              </tr>
              <tr>
                <td>Grade 10</td>
                <td>{{ render_field(form.grade10numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade10numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade10numberteachersmale) }}</td>
                <td>{{ render_field(form.grade10numbergrades) }}</td>
                <td>{{ render_field(form.grade10numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade10numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade10class1female) }}</td>
                <td>{{ render_field(form.grade10class1male) }}</td>
                <td>{{ render_field(form.grade10class2female) }}</td>
                <td>{{ render_field(form.grade10class2male) }}</td>
                <td>{{ render_field(form.grade10schoolbuilding) }}</td>
                <td>{{ render_field(form.grade10electricity) }}</td>
              </tr>
              <tr>
                <td>Grade 11</td>
                <td>{{ render_field(form.grade11numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade11numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade11numberteachersmale) }}</td>
                <td>{{ render_field(form.grade11numbergrades) }}</td>
                <td>{{ render_field(form.grade11numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade11numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade11class1female) }}</td>
                <td>{{ render_field(form.grade11class1male) }}</td>
                <td>{{ render_field(form.grade11class2female) }}</td>
                <td>{{ render_field(form.grade11class2male) }}</td>
                <td>{{ render_field(form.grade11schoolbuilding) }}</td>
                <td>{{ render_field(form.grade11electricity) }}</td>
              </tr>
              <tr>
                <td>Grade 12</td>
                <td>{{ render_field(form.grade12numberschoolfacility) }}</td>
                <td>{{ render_field(form.grade12numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade12numberteachersmale) }}</td>
                <td>{{ render_field(form.grade12numbergrades) }}</td>
                <td>{{ render_field(form.grade12numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade12numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade12class1female) }}</td>
                <td>{{ render_field(form.grade12class1male) }}</td>
                <td>{{ render_field(form.grade12class2female) }}</td>
                <td>{{ render_field(form.grade12class2male) }}</td>
                <td>{{ render_field(form.grade12schoolbuilding) }}</td>
                <td>{{ render_field(form.grade12electricity) }}</td>
              </tr>
              <tr>
                <td>Total # of school facilities along the full-road length of this project road</td>
                <td>{{ render_field(form.totalhighschoolnumberschoolfacility) }}</td>
                <td>{{ render_field(form.grade12numberteachersfemale) }}</td>
                <td>{{ render_field(form.grade12numberteachersmale) }}</td>
                <td>{{ render_field(form.grade12numbergrades) }}</td>
                <td>{{ render_field(form.grade12numberstudentsfemale) }}</td>
                <td>{{ render_field(form.grade12numberstudentsmale) }}</td>
                <td>{{ render_field(form.grade12class1female) }}</td>
                <td>{{ render_field(form.grade12class1male) }}</td>
                <td>{{ render_field(form.grade12class2female) }}</td>
                <td>{{ render_field(form.grade12class2male) }}</td>
                <td>{{ render_field(form.grade12schoolbuilding) }}</td>
                <td>{{ render_field(form.grade12electricity) }}</td>
              </tr>
            </table>

            <p><i>Team will also collect following data for the <u>entire length</u> of project roads.</i></p>
            <br />
            <p><strong>Markets</strong></p>

            <table class="table table-bordered">
              <tr>
                <th>Name of Market</th>
                <th>Type of Market</th>
                <th>General Comments/Observations</th>
              </tr>
              <tr>
                <td>{{ render_field(form.nameofmarket1) }}</td>
                <td>{{ render_field(form.typeofmarket1) }}</td>
                <td>{{ render_field(form.marketgeneralcomments1) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.nameofmarket2) }}</td>
                <td>{{ render_field(form.typeofmarket2) }}</td>
                <td>{{ render_field(form.marketgeneralcomments2) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.nameofmarket3) }}</td>
                <td>{{ render_field(form.typeofmarket3) }}</td>
                <td>{{ render_field(form.marketgeneralcomments3) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.nameofmarket4) }}</td>
                <td>{{ render_field(form.typeofmarket4) }}</td>
                <td>{{ render_field(form.marketgeneralcomments4) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.nameofmarket5) }}</td>
                <td>{{ render_field(form.typeofmarket5) }}</td>
                <td>{{ render_field(form.marketgeneralcomments5) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.nameofmarket6) }}</td>
                <td>{{ render_field(form.typeofmarket6) }}</td>
                <td>{{ render_field(form.marketgeneralcomments6) }}</td>
              </tr>
              <tr>
                <td>Total # of markets along the full-road length of this project road</td>
                <td>{{ render_field(form.typeofmarkettotal) }}</td>
                <td>{{ render_field(form.marketgeneralcommentstotal) }}</td>
              </tr>
            </table>

            <p><strong>PMV's</strong></p>
            <table class="table table-bordered">
              <tr>
                <th>PMV</th>
                <th>Number of PMVs using this road</th>
                <th>General Comments/Observations</th>
              </tr>
              <tr>
                <td>Car</td>
                <td>{{ render_field(form.carnumberofpmvs) }}</td>
                <td>{{ render_field(form.carpmvcommentobservation) }}</td>
              </tr>
              <tr>
                <td>15 seater bus</td>
                <td>{{ render_field(form.seaterbus15numberofpmvs) }}</td>
                <td>{{ render_field(form.seaterbus15pmvcommentobservation) }}</td>
              </tr>
              <tr>
                <td>25 seater bus</td>
                <td>{{ render_field(form.seaterbus25numberofpmvs) }}</td>
                <td>{{ render_field(form.seaterbus25pmvcommentobservation) }}</td>
              </tr>
              <tr>
                <td>Truck (dyna)</td>
                <td>{{ render_field(form.trucknumberofpmvs) }}</td>
                <td>{{ render_field(form.truckpmvcommentobservation) }}</td>
              </tr>
              <tr>
                <td>Tractor</td>
                <td>{{ render_field(form.tractornumberofpmvs) }}</td>
                <td>{{ render_field(form.tractorpmvcommentobservation) }}</td>
              </tr>
              <tr>
                <td>Total # of PMVs along the full-road length of this project road</td>
                <td>{{ render_field(form.totalnumberofpmvs) }}</td>
                <td>{{ render_field(form.totalpmvcommentobservation) }}</td>
              </tr>
            </table>

            <table class="table table-bordered">
              <tr>
                <th>Total number of transport (non-passenger) operators by type of fleet</th>
                <th>Number of non-passenger operators using this road</th>
                <th>General Comments/Observations</th>
              </tr>
              <tr>
                <td>Car</td>
                <td>{{ render_field(form.carnumberofnonpassenger) }}</td>
                <td>{{ render_field(form.carpassengercommentobservation) }}</td>
              </tr>
              <tr>
                <td>Truck (dyna)</td>
                <td>{{ render_field(form.trucknumberofnonpassenger) }}</td>
                <td>{{ render_field(form.truckpassengercommentobservation) }}</td>
              </tr>
              <tr>
                <td>Tractor</td>
                <td>{{ render_field(form.tractornumberofnonpassenger) }}</td>
                <td>{{ render_field(form.tractorpassengercommentobservation) }}</td>
              </tr>
              <tr>
                <td>{{ render_field(form.otherspecifynonpassenger) }}</td>
                <td>{{ render_field(form.othernumberofnonpassenger) }}</td>
                <td>{{ render_field(form.otherpassengercommentobservation) }}</td>
              </tr>
              <tr>
                <td>Total # of non-passenger operators along the full-road length of this project road</td>
                <td>{{ render_field(form.totalnumberofnonpassenger) }}</td>
                <td>{{ render_field(form.totalpassengercommentobservation) }}</td>
              </tr>
            </table>

            <p><strong>Churches</strong></p>
            <table class="table table-bordered">
              <tr>
                <th>Denomination</th>
                <th>Number of churches</th>
              </tr>
              <tr>
                <td>Roman Catholic Church</td>
                <td>{{ render_field(form.romancatholicnumber) }}</td>
              </tr>
              <tr>
                <td>Evangelical Lutheran Church of Papua New Guinea</td>
                <td>{{ render_field(form.evangelicalnumber) }}</td>
              </tr>
              <tr>
                <td>United Church</td>
                <td>{{ render_field(form.unitedchurchnumber) }}</td>
              </tr>
              <tr>
                <td>Seventh-day Adventist Church</td>
                <td>{{ render_field(form.adventistchurchnumber) }}</td>
              </tr>
              <tr>
                <td>Pentecostal</td>
                <td>{{ render_field(form.pentecostalnumber) }}</td>
              </tr>
              <tr>
                <td>Other Christian</td>
                <td>{{ render_field(form.christiannumber) }}</td>
              </tr>
              <tr>
                <td>Total # of churches along the full-road length of this project road</td>
                <td>{{ render_field(form.totalchurchesnumber) }}</td>
              </tr>
            </table>
            <p>The team needs to collect <u>land ownership data by tribe/clan.</u> The strategy is to identify each tribe/clan (by name) operational within the project and control roads where the relevant village names will also be noted. All villages that the project (and control) roads pass through will be identified together with the HH numbers and population.</p>
            <br /><br />
            <p>The team needs to collect also the number of <u>youth clubs</u>, the type of clubs!</p>
            <br /><br />
            <p>The Team needs to collect GPS bearings for each school, health facility, trade store where detailed assessments will be undertaken. The position of study villages and possibly each HH interviewed too, will be noted using an appropriate instrument for future studies (GPS)</p>

            <!-- make a table -->
            <fieldset>
                <legend>Final Steps</legend>
                {{ render_field(form.comments) }}
                {{ render_field(form.confirmation) }}
            </fieldset>
            <br/>
            <br/>
            <div class="container form-group">
                {{ form.submit() }}
            </div>
            {{ form.hidden_tag() }}
    </form>
    </div>
    {% endblock %}