{% macro render_field(field) %}

{% if field.errors %}
<div class="form-group has-error">
{{ field.label(class="control-label", for=field.name) }}
{{ field(**kwargs)|safe }}

{% for error in field.errors %}
<span class="help-block has-error">{{ error|e }}</span>
{% endfor %}
</div>

{% else %}
	{% if field.type == 'BooleanField' %}
		<div class="form-group">
		{{ field(**kwargs) }} {{ field.label(class="control-label", for=field.name) }}
		</div>

	{% else %}
		<div class="form-group">
		{{ field.label(class="control-label", for=field.name) }}<br>
		{{ field(**kwargs) }}
		</div>
	{% endif %}

{% endif %}

{% endmacro %}

{% macro render_field_new(field) %}

{% if field.errors %}
<div class="form-group has-error">
{{ field.label(class="control-label", for=field.name) }}
{{ field(**kwargs)|safe }}

{% for error in field.errors %}
<span class="help-block has-error">{{ error|e }}</span>
{% endfor %}
</div>

{% else %}
	{% if field.type == 'BooleanField' %}
		<div class="form-group">
		{{ field(**kwargs) }} {{ field.label(class="control-label", for=field.name) }}
		</div>

	{% else %}
		<div class="form-group">
		{{ field.label(class="control-label", for=field.name) }}
		{{ field(**kwargs) }}
		</div>
	{% endif %}

{% endif %}

{% endmacro %}
