{% extends "base.html" %}

{% from "macro.html" import render_field %}
{% from "macro.html" import render_field_new %}

{% block styles %}
{{ super() }}
<script type="text/javascript">
  function closeEditorWarning(){
    return 'Do you want to leave this page?'
}
  function otherFocus(element) {
    document.getElementById(element).checked = true;
  }

</script>
{% endblock %}

{% block title %}Survey: PMV Profile{% endblock %}

{% block content %}
    <div class="container">
      {% if form.errors %}
        <div class="form-group"><h4 style="color: red">There are errors in your entry. Please check and try again.</h4></div>
      {% endif %}
      <h4><center>Questionnaire for PMV Operators</center></h4>
      <p>
        <strong>We represent the Socio-Economic Impact Study team managed by the Highlands Region Road Improvement Investment Program financed jointly by the Asian Development Bank. We would like your assistance in providing us with information about PMV operations.</strong>
      </p>
      <p>
        <strong>Interviews should be conducted with the same PMV operators as in baseline study.
        <u>PLEASE USE NOTEBOOK FOR ADDITIONAL NOTES/PROBING.</u></strong>
          <strong>Please take also photos. Please prepare a report summarizing the main changes of road upgrading to PMV operations.</strong>
      </p><br />
      <p><strong>Please circle the answer for multiple choice questions.</strong></p>
        <form method="POST" action="/pmv" name="myForm">
          {{ form.csrf_token }}
          <div class="well well-sm">
          <fieldset>
            {{ form.hidden_tag() }} 
            
            <div class="row ">
                <div class="col-lg-3 margin-10px"> {{ form.dateofinterview.label }}</div>
                <div class="col-lg-3"> {{ form.dateofinterview() }}</div> 
                {% if form.errors.dateofinterview %}
                <span style="color:red" class="col-lg-3">Should be date format</span>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-lg-3 margin-10px"> {{ form.namephoneofstorekeeper.label }}</div>
                <div class="col-lg-3"> {{ form.namephoneofstorekeeper() }}</div>
                {% if form.errors.namephoneofstorekeeper %}
                <span style="color:red" class="col-lg-3">Must contain 3 to 100 characterics</span>
                {% endif %}
            </div>          
            <div class="row">
                <div class="col-lg-3 margin-10px"> {{ form.interviewer.label }}</div>
                <div class="col-lg-3"> {{ form.interviewer() }}</div>
                
            </div>
            <div class="row">
                <div class="col-lg-3 margin-10px"> {{ form.roadcorridor.label }}</div>
                <div class="col-lg-3"> {{ form.roadcorridor() }}</div>
                <div class="col-lg-3"> {{ form.villagename.label }}</div>
                <div class="col-lg-3"> {{ form.villagename() }}</div>
            </div>
            <br />
          </fieldset>
          <fieldset>
            <p><strong>1. Which is the road you most frequently use?</strong></p>
            &nbsp;&nbsp;&nbsp;{{ form.origin.label }}   {{ form.origin() }}   {{ form.destination.label }}   {{ form.destination() }}<br />
            {{ form.totallengthroadpmv.label }} {{ form.totallengthroadpmv() }} km <br />
            {% if form.errors.totallengthroadpmv %}
                <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}
            
            {{ form.averageweeklytrips.label }} {{ form.averageweeklytrips() }} <br />
            {% if form.errors.averageweeklytrips %}
                <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}
             
            <p><strong>3. What is the travel frequency in </strong> {{ form.frequencydrymonths.label }} {{ form.frequencydrymonths() }} {{ form.frequencywetmonths.label }} {{ form.frequencywetmonths() }}<br /></p>
            {% if form.errors.frequencydrymonths %}
            <span style="color:red;">Invalid Integer Value</span>&nbsp;&nbsp;
            {% endif %}
            {% if form.errors.frequencywetmonths %}
            <span style="color:red;">Invalid Integer Value</span><br/>
            {% endif %}
            
            <p><strong>4. What is the current travel time in project road during {{ form.traveltimewetmonths.label }} {{ form.traveltimewetmonths() }} and {{ form.traveltimedrymonths.label }} {{ form.traveltimedrymonths() }} season (in hours, one-way trip)</strong></p>
            {% if form.errors.traveltimewetmonths %}
            <span style="color:red;">Invalid Integer Value</span>&nbsp;&nbsp;
            {% endif %}
            {% if form.errors.traveltimedrymonths %}
            <span style="color:red;">Invalid Integer Value</span><br/>
            {% endif %}
              
            
            {{ form.totallengthoneway.label }} {{ form.totallengthoneway() }} km<br />
            {% if form.errors.totallengthoneway %}
            <span style="color:red;">Invalid Integer Value</span><br/>
            {% endif %}

            {{ render_field(form.typeofvehicle) }}

            <p><strong>Questions 8, 9, 10 are in respect of vehicles on project road or the road in control villages</strong></p>
            {{ render_field(form.vehicleownership) }}
            {{ form.howmanypmvsowned.label }} {{ form.howmanypmvsowned() }}<br />
            {% if form.errors.howmanypmvsowned %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

            {{ form.howmanypmvsownedin10years.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.howmanypmvsownedin10years %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
               {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.howmanypmvsownedin10yearsother.label }} <br />{{ form.howmanypmvsownedin10yearsother(**{ "disabled":"disabled" }) }} <br />

            <div class="row">
              <div class="col-lg-3 col-lg-offset-4">
                {% if form.errors.howmanypmvsownedin10years %}
                <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            {{ render_field(form.pmvrepairspayer) }}
            <p><strong>12. How much do you pay for your vehicle repairs?</strong></p>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.repaircostspermonth.label }} &nbsp;{{ form.repaircostspermonth() }}<br />
            {% if form.errors.repaircostspermonth %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.repaircostsperyear.label }} &nbsp;&nbsp;&nbsp;&nbsp;{{ form.repaircostsperyear() }}<br />
            {% if form.errors.repaircostsperyear %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

            {{ form.repaircostschangein10years.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.repaircostschangein10years %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
               {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.repaircostschangein10yearsdetails.label }} <br />{{ form.repaircostschangein10yearsdetails(**{ "disabled":"disabled" }) }} <br />
             
            {{ form.repiaraveragemonth.label }} {{ form.repiaraveragemonth() }} Kina<br />
            {% if form.errors.repiaraveragemonth %}
            <span style="color:red;">Invalid Integer Value</span><br/>
            {% endif %}

            <p>
                <strong>15. How much do you pay for your tyre repairs?</strong>
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.tyrerepaircostspermonth.label }} &nbsp;{{ form.tyrerepaircostspermonth() }}<br/>
            {% if form.errors.tyrerepaircostspermonth %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.tyrerepaircostsperyear.label }} &nbsp;{{ form.tyrerepaircostsperyear() }}<br />
            {% if form.errors.tyrerepaircostsperyear %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}


            {{ form.fuelcostsperday.label }} {{ form.fuelcostsperday() }}<br />
            {% if form.errors.fuelcostsperday %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

            {{ form.usualcargo.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.usualcargo %}
            <br />
            <tr>
              {% if loop.index == 3 %}
              <td>{{ subfield(**{ "data-target":"usualcargoother", "data-option":"enable" }) }}</td>
               {% else %}
              <td>{{ subfield(**{ "data-target":"usualcargoother", "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
             {{ form.usualcargoother.label }} <br />{{ form.usualcargoother(**{ "disabled":"disabled" }) }} <br />
            
            {{ form.averagedisitance.label }} {{ form.averagedisitance() }}km<br />
            {% if form.errors.averagedisitance %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

            {{ form.minimumfare.label }} {{ form.minimumfare() }}<br />
            {% if form.errors.minimumfare %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

            {{ form.maximumfare.label }} {{ form.maximumfare() }}<br />
            {% if form.errors.maximumfare %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

            {{ form.freightfeenow.label }} {{ form.freightfeenow() }}<br />
            {% if form.errors.freightfeenow %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}
            
            {{ form.setfares.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.setfares %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-target":"faresetter", "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-target":"faresetter", "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
             {{ form.faresetter.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.faresetter %}
            <br />
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-target":"faresetterother", "data-option":"disable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-target":"faresetterother", "data-option":"enable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.faresetterother.label }} <br />{{ form.faresetterother(**{ "disabled":"disabled" }) }} <br />
            
            {{ form.safetyofpassenger.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.safetyofpassenger %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
               {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.safetyofpassengerdetails.label }} <br />{{ form.safetyofpassengerdetails(**{ "disabled":"disabled" }) }} <br />

            {{ form.numberofpassengers.label }} {{ form.numberofpassengers() }}?<br />
            {% if form.errors.numberofpassengers %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}
            
            {{ form.drivesomeotherroad.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.drivesomeotherroad %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
               {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.drivesomeotherroadother1.label }} <br />{{ form.drivesomeotherroadother1(**{ "disabled":"disabled" }) }} <br />
            {{ form.drivesomeotherroadother2.label }} <br />{{ form.drivesomeotherroadother2(**{ "disabled":"disabled" }) }} <br />

            {{ form.roadtoseerepaired.label }} <br />{{ form.roadtoseerepaired(**{ "disabled":"disabled" }) }} <br />
            {{ form.roadtoseerepairedwhy.label }} <br />{{ form.roadtoseerepairedwhy(**{ "disabled":"disabled" }) }} <br />

            <p><strong>27. How many PMVs operate per day on this project road now?</strong></p>

            <div class="row">
              <div class="col-lg-2 col-lg-offset-1">
                 {{ form.carquantity.label }}
              </div>
              <div class="col-lg-3">
                 {{ form.carquantity() }}
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-lg-offset-3">
                {% if form.errors.carquantity %}
                <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-2 col-lg-offset-1">
                {{ form.bus15seaterquantity.label }}
              </div>
              <div class="col-lg-3">
                {{ form.bus15seaterquantity() }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-lg-offset-3">
                {% if form.errors.bus15seaterquantity %}
                <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-2 col-lg-offset-1">
                 {{ form.bus25seaterquantity.label }}
              </div>
              <div class="col-lg-3">
                 {{ form.bus25seaterquantity() }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-lg-offset-3">
                {% if form.errors.bus25seaterquantity %}
                <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-2 col-lg-offset-1">
                 {{ form.lighttruckquantity.label }}
              </div>
              <div class="col-lg-3">
                 {{ form.lighttruckquantity() }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-lg-offset-3">
                {% if form.errors.lighttruckquantity %}
                <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-2 col-lg-offset-1">
                 {{ form.mediumtruckquantity.label }}
              </div>
              <div class="col-lg-3">
                 {{ form.mediumtruckquantity() }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-lg-offset-3">
                {% if form.errors.mediumtruckquantity %}
                <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-2 col-lg-offset-1">
                 {{ form.heavytruckquantity.label }}
              </div>
              <div class="col-lg-3">
                 {{ form.heavytruckquantity() }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-lg-offset-3">
                {% if form.errors.heavytruckquantity %}
                <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-2 col-lg-offset-1">
                 {{ form.tractorquantity.label }}
              </div>
              <div class="col-lg-3">
                 {{ form.tractorquantity() }}
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-lg-offset-3">
                {% if form.errors.tractorquantity %}
                <span style="color:red;">Invalid Integer Value</span>
                {% endif %}
              </div>
            </div>
            {{ render_field(form.changesinpmvoperations) }}

            {{ form.earningnow.label }} {{ form.earningnow() }}Kina<br />
            {% if form.errors.earningnow %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

             {{ form.pmvstopinrainyseason.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.pmvstopinrainyseason %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
             
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.pmvstopinrainyseasonmonths.label }} {{ form.pmvstopinrainyseasonmonths(**{ "disabled":"disabled" }) }} {{ form.pmvstopinrainyseasonreason.label }} {{ form.pmvstopinrainyseasonreason(**{ "disabled":"disabled" }) }}<br />
            {% if form.errors.pmvstopinrainyseasonmonths %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

            {{ form.passableroadpercentage.label }} {{ form.passableroadpercentage() }}<strong>%</strong> {{ form.unpassableroadpercentage.label }} {{ form.unpassableroadpercentage() }}<strong>%</strong>? <br />
            {% if form.errors.passableroadpercentage %}
            <span style="color:red;">Invalid Integer Value</span>&nbsp;
            {% endif %}

            {% if form.errors.unpassableroadpercentage %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}
        
            {{ form.pmvproblemspresentroadconditions.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.pmvproblemspresentroadconditions %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.pmvproblemspresentroadconditionsother.label }} <br />{{ form.pmvproblemspresentroadconditionsother(**{ "disabled":"disabled" }) }}<br />
            {{ render_field(form.pmvproblemsbeforeworks) }}
              
            <br /> {{ form.changesintrafficaccidents.label }} &nbsp;&nbsp;&nbsp;<br />{% for subfield in form.changesintrafficaccidents %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />

            <br /> {{ form.changesintrafficaccidentsfrequency.label }} &nbsp;&nbsp;&nbsp;<br />{% for subfield in form.changesintrafficaccidentsfrequency %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable", 'disabled':'disabled' }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable",  'disabled':'disabled' }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %} &nbsp;&nbsp;&nbsp;<strong>now compared to prior to rehabilitation?</strong>
            
            {{ form.fatalitiesaware.label }} &nbsp;&nbsp;&nbsp;{% for subfield in form.fatalitiesaware %}
            <tr>
              {% if loop.index == 1 %}
              <td>{{ subfield(**{ "data-option":"enable" }) }}</td>
              {% else %}
              <td>{{ subfield(**{ "data-option":"disable" }) }}</td>
              {% endif %}
              <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            <br />
            {{ form.injuredmalenumber.label }} {{ form.injuredmalenumber(**{ "disabled":"disabled" }) }}
            {{ form.injuredfemalenumber.label }} {{ form.injuredfemalenumber(**{ "disabled":"disabled" }) }}<br />
            {% if form.errors.injuredmalenumber %}
            <span style="color:red;">Invalid Integer Value</span>
            {% endif %}
            {% if form.errors.injuredfemalenumber %}
            <span style="color:red;">Invalid Integer Value</span><br />
            {% endif %}

            {{ render_field(form.mainreasonforaccidents) }}

            <h4><strong>Thank you for your time and help!</strong></h4>
            </fieldset>

            <!-- make a table -->
          <fieldset>
            <legend>Final Steps</legend>
            {{ render_field(form.comments) }}
            {{ render_field(form.confirmation) }}
          </fieldset>
          <br/>
          <br/>
          <div class="container form-group">
            {{ form.submit() }}
          </div>
            {{ form.hidden_tag() }}
        </form>
    </div>
{% endblock %}

<script type="text/javascript">
  
</script>
